@model ICollection<VehicleManagementApp.Models.Models.RequsitionStatus>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int sl = 1;
}

<p>
    @Html.ActionLink("Create New RequsitionStatus", "Create")
</p>
<table class="table table-bordered table-striped" id="myTable">
    <thead>
    <tr>
        <th>
            @Html.Raw("SL")
        </th>
        <th>
            @Html.Raw("Requsition Status")
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @(sl++)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.Id}, new {@class = "btn btn-primary btn-sm"})
                @Html.ActionLink("Details", "Details", new {id = item.Id}, new {@class = "btn btn-info btn-sm"})
                @Html.ActionLink("Delete", "Delete", new {id = item.Id,}, new {@class = "btn btn-danger btn-sm", onclick = "return confirm('Are You Sure? You Want To Delete!')"})
            </td>
        </tr>
    }
    </tbody>
</table>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div>
                <nav class="reqStatus">
                    <ul>
                        
                        <li>@Html.ActionLink("New", "Index", "RequsitionStatus")</li>
                        <li>@Html.ActionLink("On Progress", "Index", "RequsitionStatus")</li>
                        <li>@Html.ActionLink("Assign", "Index", "RequsitionStatus")</li>
                        <li>@Html.ActionLink("Waiting", "Index", "RequsitionStatus")</li>
                        <li>@Html.ActionLink("Complete", "Index", "RequsitionStatus")</li>
                        <li>@Html.ActionLink("Cancle", "Index", "RequsitionStatus")</li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="col-md-8">
            <div style="background-color: green">
                ss
            </div>
        </div>
    </div>
</div>
