@model VehicleManagementApp.ViewModels.ManagerViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}
<h3>Requsition Assign Details</h3>
<div>
    <table class="table table-bordered table-striped table-hover">
        <tr>
            <td>Employee Name</td>
            <td>@Html.DisplayFor(model => model.Requsition.Employee.Name)</td>
        </tr>
        <tr>
            <td>Employee Number</td>
            <td>@Html.DisplayFor(model => model.Requsition.Employee.ContactNo)</td>
        </tr>
        <tr>
            <td>Requsition Form</td>
            <td>@Html.DisplayFor(model => model.Requsition.Form)</td>
        </tr>
        <tr>
            <td>Journey Start Time</td>
            <td>@Html.DisplayFor(model => model.Requsition.JourneyStart)</td>
        </tr>
        <tr>
            <td>Journey Start Time</td>
            <td>@Html.DisplayFor(model => model.Requsition.JouneyEnd)</td>
        </tr>
        <tr>
            <td>Requsition To</td>
            <td>@Html.DisplayFor(model => model.Requsition.To)</td>
        </tr>
        <tr>
            <td>Vehicle Info</td>
            <td><span>Brand Name :</span> @Html.DisplayFor(model => model.Vehicle.VehicleName),  <span>Model Number :</span> @Html.DisplayFor(model => model.Vehicle.VModel),
               <span>Registration Number :</span> @Html.DisplayFor(model => model.Vehicle.VRegistrationNo)
            </td>
        </tr>
        <tr>
            <td>Driver Name</td>
            <td>@Html.DisplayFor(model => model.Employee.Name)</td>
        </tr>
        <tr>
            <td>Driver Name</td>
            <td>@Html.DisplayFor(model => model.Employee.ContactNo)</td>
        </tr>
    </table>
</div>

<p>
    @Html.ActionLink("Back to List", "AssignIndex")
</p>
