@model VehicleManagementApp.ViewModels.ManagerViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}
<h3>Requsition Assign Details</h3>
<div>
    <table class="table table-bordered table-striped table-hover">
        <tr>
            <th>Employee Name</th>
            <td>@Html.DisplayFor(model => model.Requsition.Employee.Name)</td>
        </tr>
        <tr>
            <th>Employee Number</th>
            <td>@Html.DisplayFor(model => model.Requsition.Employee.ContactNo)</td>
        </tr>
        <tr>
            <th>Requsition Form</th>
            <td>@Html.DisplayFor(model => model.Requsition.Form)</td>
        </tr>
        <tr>
            <th>Journey Start Time</th>
            <td>@Html.DisplayFor(model => model.Requsition.JourneyStart)</td>
        </tr>
        <tr>
            <th>Journey Start Time</th>
            <td>@Html.DisplayFor(model => model.Requsition.JouneyEnd)</td>
        </tr>
        <tr>
            <th>Requsition To</th>
            <td>@Html.DisplayFor(model => model.Requsition.To)</td>
        </tr>
        <tr>
            <th>Vehicle Name</th>
            <td>@Html.DisplayFor(model => model.Vehicle.VehicleName) </td>
        </tr>
        <tr>
            <th>Vehicle Model</th>
            <td>@Html.DisplayFor(model => model.Vehicle.VModel)</td>
        </tr>
        <tr>
            <th>Vehicle Registration</th>
            <td>@Html.DisplayFor(model => model.Vehicle.VRegistrationNo)</td>
        </tr>
        <tr>
            <th>Driver Name</th>
            <td>@Html.DisplayFor(model => model.Employee.Name)</td>
        </tr>
        <tr>
            <th>Driver Name</th>
            <td>@Html.DisplayFor(model => model.Employee.ContactNo)</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>@Html.DisplayFor(model => model.Status)</td>
        </tr>
    </table>
</div>

<p>
    @Html.ActionLink("Back to List", "AssignIndex")
</p>
