@model IEnumerable<VehicleManagementApp.ViewModels.AssignedListViewModel>

@{
    ViewBag.Title = "AssignIndex";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
    int sl = 1;
}

<h2 style="padding-bottom: 30px; text-align: center">Assigned List</h2>
<div>
    @if (TempData["msg"] != null)
    {
        <div class="alert alert-info">
            @TempData["msg"]
        </div>
    }
</div>
<table class="table table-bordered table-striped" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.Raw("SL")
            </th>
            <th>
                @Html.Raw("Requisition No.")
            </th>
            <th>
                @Html.Raw("Employee Info")
            </th>
            <th>
                @Html.DisplayName("Driver Info")

            </th>
            <th>
                @Html.Raw("Requsition Info")

            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleId)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @(sl++)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Requisition.RequsitionNumber)
                </td>
                <td>
                    Name: @Html.DisplayFor(modelItem => item.Employee.Name)

                    Contact No.: @Html.DisplayFor(modelItem => item.Employee.ContactNo)
                </td>
                <td>
                    <span> Name:     @Html.DisplayFor(modelItem => item.Driver.Name)</span>

                    <span> Contact No.:  @Html.DisplayFor(modelItem => item.Driver.ContactNo)</span>
                </td>
                <td>
                    From :   @Html.DisplayFor(modelItem => item.Requisition.Form)
                    <br />
                    To : @Html.DisplayFor(modelItem => item.Requisition.To)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vehicle.Name)
                </td>
                <td>
                    @Html.ActionLink("Print", "Print_V2", new { id = item.Id }, new { @class = "btn btn-danger", onclick = "return confirm('Are You Sure? You Want To Re-Assign This??')" })
                    @Html.ActionLink("Details", "AssignDetails", new { id = item.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Check In", "CheckIn_V2", new { id = item.Id }, new { @class = "btn btn-info", onclick = "return confirm('Are You Sure? You Want To Check In !!')" })
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts{
    @*<script type="text/javascript">
        $('#mytable .customerIDCell').each(function () {
            alert($(this).html());
        });
    </script>*@
}