@model IEnumerable<VehicleManagementApp.ViewModels.VehicleViewModel>

@{
    ViewBag.Title = "Total Cars";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
    int sl = 1;
}

<h2 style="padding-bottom: 30px; text-align: center">Total Cars</h2>
@if (ViewBag.TotalCar != null)
{
    <h3>Total Car : @ViewBag.TotalCar</h3>
}

<table class="table table-bordered table-striped" id="myTable" >
    <thead>
    <tr>
        <th>
            @Html.Raw("SL")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VModel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleTypeId)
        </th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @(sl++)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VModel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleType.TypeName)
                </td>
            </tr>
        }
    </tbody>
</table>
