@model IEnumerable<VehicleManagementApp.ViewModels.ManagerViewModel>

@{
    ViewBag.Title = "CheckOut";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
    int sl = 1;
}
<h2 style="padding-bottom: 30px; text-align: center">Check Out</h2>
<table class="table table-bordered table-striped" id="myTable">
    <thead>
        <tr>
            <th>@Html.Raw("SL")</th>
            <th>
                @Html.Raw("Requsition From")
            </th>
            <th>
                @Html.Raw("Requsition To")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@(sl++)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Requsition.Form)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Requsition.To)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vehicle.VehicleName)
                </td>
                <td>
                    @Html.ActionLink("Check Out", "CheckOutEdit", new { id = item.Id }, new {@class="btn btn-info"}) 
                </td>
            </tr>
        }
    </tbody>

    

</table>
