@model IEnumerable<VehicleManagementApp.ViewModels.ManagerViewModel>

@{
    ViewBag.Title = "CheckOut";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
    int sl = 1;
}

<table class="table table-bordered table-striped" id="myTable">
    <thead>
        <tr>
            <th>@Html.Raw("SL")</th>
            <th>
                @Html.Raw("Employee Name")
            </th>
            <th>
                @Html.Raw("Employee Contact")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@(sl++)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Requsition.Employee.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Requsition.Employee.ContactNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vehicle.VehicleName)
                </td>
                <td>
                    @if (item.Status == "RequsitionComplete")
                    {
                        @Html.Raw("Requsition Complete")
                    }

                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-info" })
                </td>
            </tr>
        }
    </tbody>
</table>