@*@model IEnumerable<VehicleManagementApp.ViewModels.ManagerViewModel>*@
@model VehicleManagementApp.ViewModels.FilteringSearchViewModel
@{
    ViewBag.Title = "CheckOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int sl = 1;
}

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <label>Start Date</label>
                    @Html.EditorFor(model => model.Startdate, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-md-3">
                    @Html.Label("End Date")
                    @Html.EditorFor(model => model.EndDate, new {htmlAttributes = new {@class = "form-control"}})
                </div>

                @*<div class="col-md-3">
                    @Html.Label("Designation")
                    @Html.DropDownListFor(model => model.DesignationId, new SelectList(Model.Designations, "Id", "Name"),"Select Designation",  new { @class = "form-control" } )
                </div>*@

                <div class="col-md-3">
                    <input type="button" value="Search" class="btn btn-default" id="btnSubmit" style="margin-top: 25px;" />
                </div>
            </div>
        </div>
    </div>
}
<div class="row" style="height: 30px"></div>
<div id="resultDiv">
    @Html.Partial("_CompleteRequsitionPartial", Model.RequsitionViewModels)
</div>
@section scripts{
    <script type="text/javascript">


        $('#btnSubmit').click(function (event) {
            event.preventDefault();
            var _Startdate = $('#Startdate').val();
            var _EndDate = $('#EndDate').val();
            //var designationId = $("#DesignationId").val();

            if (_Startdate > _EndDate) {
                alert("End Date Must be Bigger than Start Date");
                return;
            }
            if (_Startdate == '') {
                alert("Please Select Start Date.");
                return;
            }
            if (_EndDate == '') {
                alert("Please Select End Date.");
                return;
            }

            if (_Startdate != '' && _EndDate != '') {
                $.ajax({
                    url: '@(Url.Action("CompleteRequsition"))',
                    data: { Startdate: _Startdate, EndDate: _EndDate },
                    type: "POST",
                    success: function (result) {

                        $("#resultDiv").empty();
                        $("#resultDiv").html(result);
                        $('#myTable').DataTable();
                    },
                    error: function(result) {

                    }

                });

            }

        });


    </script>
}
