@model VehicleManagementApp.ViewModels.RequsitionViewModel

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}
<link rel="stylesheet" href="~/css/style.css">
<link href="~/css/ssss.css" rel="stylesheet" />
<h2>Requisition Details</h2>
<hr />
<div class="jumbotron">
    <table class="details_view">
        <tr>
            <td class="title_name">@Html.Raw("Department")</td>
            <td>@Html.DisplayFor(model => model.DepartmentName)</td>
        </tr>
        <tr>
            <td class="title_name">@Html.Raw("Employee Name")</td>
            <td>@Html.DisplayFor(model => model.EmployeeName)</td>
        </tr>
        <tr>
            <td class="title_name">@Html.Raw("Designation")</td>
            <td>@Html.DisplayFor(model => model.DesignationName)</td>
        </tr>
        <tr>
            <td class="title_name">@Html.Raw("Employee Contact")</td>
            <td>@Html.DisplayFor(model => model.EmployeeNo)</td>
        </tr>
        <tr>
            <td class="title_name">@Html.DisplayNameFor(model => model.Form)</td>
            <td>@Html.DisplayFor(model => model.Form)</td>
        </tr>
        <tr>
            <td class="title_name">@Html.DisplayNameFor(model => model.To)</td>
            <td>@Html.DisplayFor(model => model.To)</td>
        </tr>
        <tr>
            <td class="title_name">@Html.DisplayNameFor(model => model.Description)</td>
            <td>@Html.DisplayFor(model => model.Description)</td>
        </tr>
        <tr>
            <td class="title_name">@Html.DisplayNameFor(model => model.RequsitionNumber)</td>
            <td>@Html.DisplayFor(model => model.RequsitionNumber)</td>
        </tr>
        <tr>
            <td class="title_name">@Html.DisplayNameFor(model => model.JourneyStart)</td>
            <td>@Html.DisplayFor(model => model.StartTime)</td>
        </tr>
        <tr>
            <td class="title_name">@Html.DisplayNameFor(model => model.JouneyEnd)</td>
            <td>@Html.DisplayFor(model => model.EndTime)</td>
        </tr>
        @*<tr>
            <td class="title_name">@Html.Raw("Driver Name")</td>
            <td>@Html.DisplayFor(model => model.Employee.Name)</td>
        </tr>
        <tr>
            <td class="title_name">@Html.Raw("Driver Contact")</td>
            <td>@Html.DisplayFor(model => model.Employee.ContactNo)</td>
        </tr>
        <tr>
            <td class="title_name">Vehicle Info</td>
            <td>
                <span>Brand Name :</span> @Html.DisplayFor(model => model.Vehicle.VehicleName),  <span>Model Number :</span> @Html.DisplayFor(model => model.Vehicle.VModel),
                <span>Registration Number :</span> @Html.DisplayFor(model => model.Vehicle.VRegistrationNo)
            </td>
        </tr>*@
        <tr>

            <td style="padding-top: 20px"></td>
            @*<td>@Html.ActionLink("Assign", "id=assign_Confirm", new {id = "Id"}, new {@class = "btn btn-info btn-lg"})</td>*@
            <td style="padding-top: 20px"></td>
        </tr>

    </table>
    <ul>
        <li>
            @Html.ActionLink("Back to List", "CompleteRequsition", null, new { @class = "btn btn-default", @style = "float: left" })
        </li>
    </ul>

</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#assign_Confirm").click(function () {
                $("#assign_Confirm").show();
                $("#assign_Confirm").hide();

            });
        });
    </script>
}
