@using VehicleManagementApp.BLL
@using VehicleManagementApp.BLL.Contracts
@model IEnumerable<VehicleManagementApp.ViewModels.RequsitionViewModel>
@{
    ViewBag.Title = "AllAssignedList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int sl = 1;
}
<h2 style="text-align:center">All Assigned Requisition List</h2>
<br />
<br />
@if (TempData["msg"] != null)
            {
    <div class="alert alert-info">
        @TempData["msg"]
    </div>
}
<table class="table table-bordered table-striped" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.Raw("SL")
            </th>
            <th>
                @Html.Raw("Requisition No.")
            </th>
            <th>
                @Html.Raw("Employee Info")
            </th>

            <th>
                @Html.Raw("Requisition Place")

            </th>
            <th>
                @Html.Raw("Journey Start")
            </th>
            <th>
                @Html.Raw("Journey End")
            </th>
            <th>
                @Html.DisplayName("Comments")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @(sl++)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequsitionNumber)
                </td>
                <td>
                    Name: @Html.DisplayFor(modelItem => item.Employee.Name)

                    Phone: @Html.DisplayFor(modelItem => item.Employee.ContactNo)
                </td>

                <td>
                    From :   @Html.DisplayFor(modelItem => item.Form)
                    <br />
                    To : @Html.DisplayFor(modelItem => item.To)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    @{
                        //ViewBag.UserEmployeeId;
                        ICommentManager commentManager = new CommentManager();
                        var newComments = commentManager.Get(c => c.RequsitionId == item.Id).Count(c => c.ReceiverEmployeeId == ViewBag.UserEmployeeId && c.IsReceiverSeen == false);

                    }
                    <span>
                        <img src="~/img/f8-01-512.png" alt="new comments" style="height: 10%; ">
                        <span class="notification">@Html.Raw(newComments)</span>
                    </span>

                    @Html.ActionLink("Details", "Details_V2", "Requsition", new { id = item.Id }, new { @class = "btn btn-info btn-sm" })
                </td>
                <td class="dropdown">
                    <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action
                    </button>
                    <div class="dropdown-menu" id="dropdownMenu2">
                        @Html.ActionLink("Print", "Print_V2", new { id = item.Id }, new { @class = "btn btn-info btn-sm" })
                        @Html.ActionLink("Reassign", "Reassign_V2", new { id = item.Id }, new { @class = "btn btn-success btn-sm", onclick = "return confirm('Are You Sure? You Want To Re-Assign This Requisition ?')" })
                        @Html.ActionLink("Check In", "CheckIn_V2", new { id = item.Id }, new { @class = "btn btn-danger btn-sm", onclick = "return confirm('Are You Sure? You Want To Check In !!')" })
                        @*@Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" })*@
                    </div>
                </td>
            </tr>
                        }
    </tbody>
</table>
