@model IEnumerable<VehicleManagementApp.ViewModels.RequsitionViewModel>

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
    int sl = 1;
}

<h2 style="padding-bottom: 30px; text-align: center">New Requisition</h2>

<table class="table table-bordered table-striped" id="myTable">
    <thead>
    <tr>
        <th>@Html.Raw("SL")</th>
        <th>
            @Html.DisplayName("Department")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeId)
        </th>
        <th>
            @Html.DisplayName("Designation")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.ContactNo)
        </th>
        <th>
            @Html.DisplayName("From")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.To)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JourneyStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JouneyEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequsitionNumber)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@(sl++)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.Department.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.Designation.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.ContactNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Form)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.To)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JourneyStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JouneyEnd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequsitionNumber)
                </td>

                <td class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        button
                    </button>
                    <div class="dropdown-menu" id="dropdownMenu2">
                        @*@Html.ActionLink("Assign", "Assign", new { id = item.Id }, new { @class = "btn btn-success"})*@
                        @Html.ActionLink("View", "Details", "Requsition", new { id = item.Id }, new { @class = "btn btn-default" })
                        @Html.ActionLink("Hold", "Hold", new { id = item.Id }, new { @class = "btn btn-primary", onclick = "return confirm('Are You Sure? You Want To Hold This')" })
                        @Html.ActionLink("Cancel", "Cancel", new { id = item.Id }, new { @class = "btn btn-danger", onclick = "return confirm('Are You Sure? You Want To Cancel This !!')" })
                        @Html.ActionLink("Assign", "AdvanceAssign", new { id = item.Id }, new { @class = "btn btn-success" })
                    </div>
                </td>

            </tr>
        }
    </tbody>
</table>
