@model IEnumerable<VehicleManagementApp.Models.Models.Comment>

@section styles{
    <style>
        .TextWrapLeft {
            
            float: left;
            margin: 3%;
        }
    </style>
}
@foreach (var item in Model) {

    <li>
        @{

            var commentTime = item.CommentTime.ToString("dd - MMM - yyyy hh:mm tt");
            var comments = item.Comments;

        }
        <div class="card" style="padding: 2%">
            <span>
                Requisition Number: @Html.DisplayFor(modelItem => item.Requsition.RequsitionNumber)
            </span>
            <div>
                <a href="@Url.Action("Details_V2", "Requsition", new {id = item.RequsitionId})" style="color: black !important">
                    <img class="TextWrapLeft" src="@Url.Content(item.SenderEmployee.ImagePath)" style="height: 20px; width: 25px" />
                    @Html.Raw(comments)
                </a>
            </div>
            <span>
                Comment at: @Html.Raw(commentTime)
            </span>

        </div>
    </li>
            }
