@using System.Collections
@using System.Web.Services.Description
@using VehicleManagementApp.BLL
@using VehicleManagementApp.BLL.Contracts
@{
    IRequsitionManager managers = new RequsitionManager();
    IVehicleManager vehicle = new VehicleManager();
    IEmployeeManager employee = new EmployeeManager();

    var totalDriver = employee.Get(c => c.IsDriver == true);
    var availableDriver = employee.Get(c => c.Status == "NULL" || c.Status == null && c.IsDriver == true);
    var assignDriver = employee.Get(c => c.Status == "Assigned");

    var totalVehicle = vehicle.GetAll().Count();
    var assignVehicle = vehicle.Get(c => c.Status == "Assigned");
    var freeVehicle = vehicle.Get(c => c.Status == null);

    var managerNew = managers.Get(c => c.Status == null && c.IsDeleted == false);
    var managerOnprogess = managers.Get(c => c.Status == "Seen" && c.IsDeleted == false);
    var managerAssign = managers.Get(c => c.Status == "Assign" && c.IsDeleted == false);
    var managerComplete = managers.Get(c => c.Status == "Complete" && c.IsDeleted == false);
    var managerHold = managers.Get(c => c.Status == "Hold" && c.IsDeleted == false);
    var hold = managerHold.Count;
    var countNew = managerNew.Count;
    var countSeed = managerOnprogess.Count;
    var countAssign = managerAssign.Count;
    var countComplete = managerComplete.Count;
    var totalAssignedCar = assignVehicle.Count;
    var totalFreeCar = freeVehicle.Count;

    var totaldrivercount = totalDriver.Count;
    var assigndrivercount = assignDriver.Count;
    var freedrivercount = availableDriver.Count;

}


<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="~/thirdPartyCss/img/bcc_logo.png">
    <!-- Twitter -->
    <meta name="twitter:site" content="themepixels">
    <meta name="twitter:creator" content="themepixels">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Bracket">
    <meta name="twitter:description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="twitter:image" content="http://themepixels.me/bracket/img/bracket-social.png">

    <!-- Facebook -->
    <meta property="og:url" content="http://themepixels.me/bracket">
    <meta property="og:title" content="Bracket">
    <meta property="og:description" content="Premium Quality and Responsive UI for Dashboard.">

    <meta property="og:image" content="http://themepixels.me/bracket/img/bracket-social.png">
    <meta property="og:image:secure_url" content="http://themepixels.me/bracket/img/bracket-social.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <!-- Meta -->
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="ThemePixels">

    <title>Bangladesh Computer Councile</title>

    <!-- vendor css -->

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-submenu/3.0.1/css/bootstrap-submenu.min.css" />

    <link href="~/Content/DataTables/css/dataTables.jqueryui.css" rel="stylesheet" />

    <link href="~/DashboardDesign/lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/DashboardDesign/lib/Ionicons/css/ionicons.css" rel="stylesheet">
    <link href="~/DashboardDesign/lib/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
    <link href="~/DashboardDesign/lib/jquery-switchbutton/jquery.switchButton.css" rel="stylesheet">
    <link href="~/DashboardDesign/lib/rickshaw/rickshaw.min.css" rel="stylesheet">
    <link href="~/DashboardDesign/lib/chartist/chartist.css" rel="stylesheet">
    <link href="~/css/myCustom.css" rel="stylesheet" />
    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css" />*@

    <!-- Bracket CSS -->
    <link rel="stylesheet" href="~/thirdPartyCss/css/bootstrap.css">
    <link rel="stylesheet" href="~/DashboardDesign/css/animate.css">
    <link rel="stylesheet" href="~/DashboardDesign/css/bracket.css">
    <link href="~/css/myCustom.css" rel="stylesheet" />

    <style>
        .main-menu {
            padding-top: 20px;
            padding-left: 50px;
            padding-right: 50px;
        }

        .goog-te-banner-frame.skiptranslate {
            display: none !important;
        }

        body {
            top: 30px !important;
        }
    </style>
    @RenderSection("styles", required: false)
</head>

<body>

    <!-- ########## START: LEFT PANEL ########## -->
    <div class="br-logo" style="background:#abd7fb !important "><a href="@Url.Action("Index","Home")"><span>[</span><img src="~/thirdPartyCss/img/Untitled-1 copy.png" style="width: 90%" alt="" title="" /><span>]</span></a></div>
    
   
   
    <!-- ########## END: LEFT PANEL ########## -->
    <!-- ########## START: HEAD PANEL ########## -->
    <div class="br-header" style="background:#abd7fb !important ">

        <div class="br-header-left">
           

        </div><!-- br-header-left -->



        <div class="br-header-right">
          <div style="padding-right: 30px; font-size: 20px; color: black !important;">
                @Html.ActionLink("Log in", "Login", "Account")
            </div>
           
            <!-- language -->

            <div class="language" id="google_translate_element">

            </div>
            <!-- language -->
           
        </div>
        <!-- br-header-right -->

    </div><!-- br-header -->
    <!-- ########## END: HEAD PANEL ########## -->
    
    <!-- ########## START: MAIN PANEL ########## -->
    <div class="br-mainpanel">
        
        
        <div class="br-pagebody mg-t-5 pd-x-30">
           
            @RenderBody()

            @*<div>
                    <div id="chartLine1"></div>
                </div>*@

            <footer class="br-footer">
                <div class="footer-left">
                    <div class="mg-b-2">Copyright &copy; 2017. Bracket. All Rights Reserved.</div>
                    <div>Attentively and carefully made by ThemePixels.</div>
                </div>
                <div class="footer-right d-flex align-items-center">
                    <span class="tx-uppercase mg-r-10">Share:</span>
                    <a target="_blank" class="pd-x-5" href="https://www.facebook.com/sharer/sharer.php?u=http%3A//themepixels.me/bracket/intro"><i class="fa fa-facebook tx-20"></i></a>
                    <a target="_blank" class="pd-x-5" href="https://twitter.com/home?status=Bracket,%20your%20best%20choice%20for%20premium%20quality%20admin%20template%20from%20Bootstrap.%20Get%20it%20now%20at%20http%3A//themepixels.me/bracket/intro"><i class="fa fa-twitter tx-20"></i></a>
                </div>
            </footer>
        </div><!-- br-mainpanel -->
    </div>
    <!-- ########## END: MAIN PANEL ########## -->

    <script src="~/DashboardDesign/lib/jquery/jquery.js"></script>
    @*<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>*@
    <script src="~/scripts/DataTables/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-hover-dropdown/2.2.1/bootstrap-hover-dropdown.js"></script>
    <script src="~/DashboardDesign/lib/popper.js/popper.js"></script>
    <script src="~/DashboardDesign/lib/bootstrap/bootstrap.js"></script>
    <script src="~/DashboardDesign/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
    <script src="~/DashboardDesign/lib/moment/moment.js"></script>
    <script src="~/DashboardDesign/lib/jquery-ui/jquery-ui.js"></script>
    <script src="~/DashboardDesign/lib/jquery-switchbutton/jquery.switchButton.js"></script>
    <script src="~/DashboardDesign/lib/peity/jquery.peity.js"></script>
    <script src="~/DashboardDesign/lib/chartist/chartist.js"></script>
    <script src="~/DashboardDesign/lib/jquery.sparkline.bower/jquery.sparkline.min.js"></script>
    <script src="~/DashboardDesign/lib/d3/d3.js"></script>
    <script src="~/DashboardDesign/lib/rickshaw/rickshaw.min.js"></script>


    <script src="~/DashboardDesign/js/bracket.js"></script>
    <script src="~/DashboardDesign/js/ResizeSensor.js"></script>
    <script src="~/DashboardDesign/js/dashboard.js"></script>

    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'en', includedLanguages: 'bn,en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE }, 'google_translate_element');
        }
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    @RenderSection("scripts", false)

    <script>


        $(function () {
            'use strict';

            // FOR DEMO ONLY
            // menu collapsed by default during first page load or refresh with screen
            // having a size between 992px and 1299px. This is intended on this page only
            // for better viewing of widgets demo.
            $(window).resize(function () {
                minimizeMenu();
            });

            minimizeMenu();

            function minimizeMenu() {
                if (window.matchMedia('(min-width: 992px)').matches && window.matchMedia('(max-width: 1299px)').matches) {
                    // show only the icons and hide left menu label by default
                    $('.menu-item-label,.menu-item-arrow').addClass('op-lg-0-force d-lg-none');
                    $('body').addClass('collapsed-menu');
                    $('.show-sub + .br-menu-sub').slideUp();
                } else if (window.matchMedia('(min-width: 1300px)').matches && !$('body').hasClass('collapsed-menu')) {
                    $('.menu-item-label,.menu-item-arrow').removeClass('op-lg-0-force d-lg-none');
                    $('body').removeClass('collapsed-menu');
                    $('.show-sub + .br-menu-sub').slideDown();
                }
            }
        });
    </script>
</body>
</html>
