@using System.Collections
@using System.Web.Services.Description
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin
@using VehicleManagementApp.BLL
@using VehicleManagementApp.BLL.Contracts
@using VehicleManagementApp.Models
@using VehicleManagementApp.Models.Models
@{
    IRequsitionManager managers = new RequsitionManager();
    IVehicleManager vehicle = new VehicleManager();
    IEmployeeManager employee = new EmployeeManager();

    ICommentManager commentManager = new CommentManager();
    var totalDriver = employee.Get(c => c.IsDriver == true);
    var availableDriver = employee.Get(c => c.Status == "NULL" || c.Status == null && c.IsDriver == true);
    var assignDriver = employee.Get(c => c.Status == "Assigned");

    var totalVehicle = vehicle.GetAll().Count();
    var assignVehicle = vehicle.Get(c => c.Status == "Assigned");
    var freeVehicle = vehicle.Get(c => c.Status == null);

    var managerNew = managers.Get(c => c.Status == null && c.IsDeleted == false);
    var managerOnprogess = managers.Get(c => c.Status == "Seen" && c.IsDeleted == false);
    var managerAssign = managers.Get(c => c.Status == "Assign" && c.IsDeleted == false);
    var managerComplete = managers.Get(c => c.Status == "Complete" && c.IsDeleted == false);
    var managerHold = managers.Get(c => c.Status == "Hold" && c.IsDeleted == false);
    var hold = managerHold.Count;
    var countNew = managerNew.Count;
    var countSeed = managerOnprogess.Count;
    var countAssign = managerAssign.Count;
    var countComplete = managerComplete.Count;
    var totalAssignedCar = assignVehicle.Count;
    var totalFreeCar = freeVehicle.Count;

    var totaldrivercount = totalDriver.Count;
    var assigndrivercount = assignDriver.Count;
    var freedrivercount = availableDriver.Count;
    ApplicationUser user =
               System.Web.HttpContext.Current.GetOwinContext()
                   .GetUserManager<ApplicationUserManager>()
                   .FindById(System.Web.HttpContext.Current.User.Identity.GetUserId());


    var userEmployee = employee.Get(e => e.UserId == user.Id).FirstOrDefault();
    var totalNewComments = 0;
    var totalNewNotifications = 0;
    if (userEmployee != null) {

        totalNewComments = commentManager.GetAll().Count(c => c.ReceiverEmployeeId == userEmployee.Id && c.IsReceiverSeen == false);
        var NewNotifications = managers.Get(c => c.EmployeeId == userEmployee.Id && c.IsEmployeeSeen == false).Where(c=> c.Status == "Assign" || c.Status == "Hold");
        totalNewNotifications = NewNotifications.Count();
    }



}


<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="~/thirdPartyCss/img/bcc_logo.png">
    <!-- Twitter -->
    <meta name="twitter:site" content="themepixels">
    <meta name="twitter:creator" content="themepixels">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Bracket">
    <meta name="twitter:description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="twitter:image" content="http://themepixels.me/bracket/img/bracket-social.png">

    <!-- Facebook -->
    <meta property="og:url" content="http://themepixels.me/bracket">
    <meta property="og:title" content="Bracket">
    <meta property="og:description" content="Premium Quality and Responsive UI for Dashboard.">

    <meta property="og:image" content="http://themepixels.me/bracket/img/bracket-social.png">
    <meta property="og:image:secure_url" content="http://themepixels.me/bracket/img/bracket-social.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <!-- Meta -->
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="ThemePixels">

    <title>Bangladesh Computer Councile</title>

    <!-- vendor css -->

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-submenu/3.0.1/css/bootstrap-submenu.min.css" />
    <link href="~/css/jquery-ui.min.css" rel="stylesheet" />
    @*<link href="~/css/jquery.datetimepicker.min.css" rel="stylesheet" />*@
    <link href="~/Content/DataTables/css/dataTables.jqueryui.css" rel="stylesheet" />

    <link href="~/DashboardDesign/lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/DashboardDesign/lib/Ionicons/css/ionicons.css" rel="stylesheet">
    <link href="~/DashboardDesign/lib/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
    <link href="~/DashboardDesign/lib/jquery-switchbutton/jquery.switchButton.css" rel="stylesheet">
    <link href="~/DashboardDesign/lib/rickshaw/rickshaw.min.css" rel="stylesheet">
    <link href="~/DashboardDesign/lib/chartist/chartist.css" rel="stylesheet">
    <link href="~/css/myCustom.css" rel="stylesheet" />
    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css" />*@

    <!-- Bracket CSS -->
    <link rel="stylesheet" href="~/thirdPartyCss/css/bootstrap.css">
    <link rel="stylesheet" href="~/DashboardDesign/css/animate.css">
    <link rel="stylesheet" href="~/DashboardDesign/css/bracket.css">


    @*<link href="~/css/myCustom.css" rel="stylesheet" />*@

    <style>
        .main-menu {
            padding-top: 20px;
            padding-left: 50px;
            padding-right: 50px;
        }

        .goog-te-banner-frame.skiptranslate {
            display: none !important;
        }

        body {
            top: 0px !important;
        }

        .myNotification {
            position: relative !important;
            top: 5px !important;
            border: 1px solid #FFF !important;
            right: 10px !important;
            font-size: 15px !important;
            background: #f44336 !important;
            color: #FFFFFF !important;
            min-width: 20px !important;
            padding: 0px 5px !important;
            height: 20px !important;
            border-radius: 10px !important;
            text-align: center !important;
            line-height: 19px !important;
            vertical-align: middle !important;
        }
    </style>
    @RenderSection("styles", required: false)
</head>

<body>

    <!-- ########## START: LEFT PANEL ########## -->

    <div class="br-logo" style="background:#abd7fb !important "><a href="@Url.Action("Index","Home")"><span>[</span><img src="~/thirdPartyCss/img/Untitled-1 copy.png" style="width: 90%" alt="" title="" /><span>]</span></a></div>
    @if (Request.IsAuthenticated)
    {
        <div class="br-sideleft overflow-y-auto">

            <label class="sidebar-label pd-x-15 mg-t-20">Navigation</label>
            <div class="br-sideleft-menu">
                @if (User.IsInRole(AppEnum.RoleEnum.Controller.ToString()))
                {<div>
                <a href="@Url.Action("Dashboard", "Home")" class="br-menu-link active">
                    <div class="br-menu-item">
                        <i class="menu-item-icon icon ion-ios-home-outline tx-22"></i>
                        <span class="menu-item-label">Dashboard</span>
                    </div><!-- menu-item -->
                </a>
                <!-- br-menu-link -->

                <a href="#" class="br-menu-link">
                    <div class="br-menu-item">
                        <i class="menu-item-icon icon ion-ios-filing-outline tx-24"></i>
                        <span class="menu-item-label">Requisition</span>
                        <i class="menu-item-arrow fa fa-angle-down"></i>
                    </div><!-- menu-item -->
                </a>
                <!-- br-menu-link -->
                <ul class="br-menu-sub nav flex-column">
                    <li class="nav-item"><a href="@Url.Action("New", "Manager")" class="nav-link">New Requisition</a></li>
                    @*<li class="nav-item"><a href="@Url.Action("MyRequisitionList", "Requsition")" class="nav-link">My Requisition</a></li>*@
                    <li class="nav-item"><a href="@Url.Action("HoldIndex", "Manager")" class="nav-link">Hold Requisition List</a></li>
                    <li class="nav-item"><a href="@Url.Action("CancelIndex", "Manager")" class="nav-link">Cancle Requisition List</a></li>
                    <li class="nav-item"><a href="@Url.Action("CompleteRequsition", "Manager")" class="nav-link">Complete Requisition</a></li>
                </ul>


                <a href="#" class="br-menu-link">
                    <div class="br-menu-item">
                        <i class="fa fa-male" aria-hidden="true"></i>
                        <span class="menu-item-label">Employee Register</span>
                        <i class="menu-item-arrow fa fa-angle-down"></i>
                    </div><!-- menu-item -->
                </a>
                <!-- br-menu-link -->
                <ul class="br-menu-sub nav flex-column">
                    <li class="nav-item"><a href="@Url.Action("EmployeeRegisterWithRole", "Account")" class="nav-link">Employee With Role</a></li>
                    <li class="nav-item"><a href="@Url.Action("Index", "Employee")" class="nav-link">Employee</a></li>
                    <li class="nav-item"><a href="@Url.Action("Index", "Driver")" class="nav-link">Driver</a></li>
                </ul>

                <a href="#" class="br-menu-link">
                    <div class="br-menu-item">
                        <i class="fa fa-male" aria-hidden="true"></i>
                        <span class="menu-item-label">Drivers Corner</span>
                        <i class="menu-item-arrow fa fa-angle-down"></i>
                    </div><!-- menu-item -->
                </a>
                <!-- br-menu-link -->
                <ul class="br-menu-sub nav flex-column">
                    <li class="nav-item"><a href="@Url.Action("DriverAssignedList", "Manager")" class="nav-link">Assign Duties</a></li>
                    <li class="nav-item"><a href="@Url.Action("DriverDutyCompletedList", "Manager")" class="nav-link">Complete Duties</a></li>
                </ul>

                <a href="#" class="br-menu-link">
                    <div class="br-menu-item">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                        <span class="menu-item-label">Setup</span>
                        <i class="menu-item-arrow fa fa-angle-down"></i>
                    </div><!-- menu-item -->
                </a>
                <!-- br-menu-link -->
                <ul class="br-menu-sub nav flex-column">
                    <li class="nav-item"><a href="@Url.Action("Index", "Organaization")" class="nav-link">Organaization</a></li>
                    <li class="nav-item"><a href="@Url.Action("Index", "Department")" class="nav-link">Department</a></li>
                    <li class="nav-item"><a href="@Url.Action("Index", "Designation")" class="nav-link">Designation</a></li>
                    <li class="nav-item"><a href="@Url.Action("Index", "Division")" class="nav-link">Division</a></li>
                    <li class="nav-item"><a href="@Url.Action("Index", "District")" class="nav-link">District</a></li>
                    <li class="nav-item"><a href="@Url.Action("Index", "Thana")" class="nav-link">Thana</a></li>
                    <li class="nav-item"><a href="@Url.Action("Index", "VehicleType")" class="nav-link">Vehicle Type</a></li>
                    <li class="nav-item"><a href="@Url.Action("Index", "Vehicle")" class="nav-link">Vehicle</a></li>
                </ul>


                <a href="#" class="br-menu-link">
                    <div class="br-menu-item">
                        <i class="menu-item-icon icon ion-ios-filing-outline tx-24"></i>
                        <span class="menu-item-label">Assigned Schedule</span>
                        <i class="menu-item-arrow fa fa-angle-down"></i>
                    </div><!-- menu-item -->
                </a>
                <!-- br-menu-link -->
                <ul class="br-menu-sub nav flex-column">
                    <li class="nav-item"><a href="@Url.Action("Calendar", "Manager")" class="nav-link">Assigned Calendar</a></li>
                    <li class="nav-item"><a href="@Url.Action("TodayAssignedList", "Manager")" class="nav-link">Today Assign List</a></li>
                    <li class="nav-item"><a href="@Url.Action("FullAssignList", "Manager")" class="nav-link">Full Assign List</a></li>
                </ul>


                <a href="@Url.Action("Car", "Manager")" class="br-menu-link">
                    <div class="br-menu-item">
                        <i class="fa fa-car" aria-hidden="true"></i>
                        <span class="menu-item-label">Total Vehicle</span>
                    </div><!-- menu-item -->
                </a>
                <!-- br-menu-link -->

                <a href="@Url.Action("DriverList", "Employee")" class="br-menu-link">
                    <div class="br-menu-item">
                        <i class="fa fa-male" aria-hidden="true"></i>
                        <span class="menu-item-label">Total Driver</span>
                    </div><!-- menu-item -->
                </a>
            </div>
    <!-- br-menu-link -->
                }
                @if (User.IsInRole(AppEnum.RoleEnum.Operator.ToString()))
                {<div>
                <a href="@Url.Action("Dashboard", "Home")" class="br-menu-link active">
                    <div class="br-menu-item">
                        <i class="menu-item-icon icon ion-ios-home-outline tx-22"></i>
                        <span class="menu-item-label">Dashboard</span>
                    </div><!-- menu-item -->
                </a>
                <!-- br-menu-link -->

                <a href="#" class="br-menu-link">
                    <div class="br-menu-item">
                        <i class="menu-item-icon icon ion-ios-filing-outline tx-24"></i>
                        <span class="menu-item-label">Requisition</span>
                        <i class="menu-item-arrow fa fa-angle-down"></i>
                    </div><!-- menu-item -->
                </a>
                <!-- br-menu-link -->
                <ul class="br-menu-sub nav flex-column">
                    <li class="nav-item"><a href="@Url.Action("NewList", "Home")" class="nav-link">New Requisition</a></li>
                    @*<li class="nav-item"><a href="@Url.Action("MyRequisitionList", "Requsition")" class="nav-link">My Requisition</a></li>*@
                    <li class="nav-item"><a href="@Url.Action("HoldList", "Home")" class="nav-link">Hold Requisition List</a></li>
                    <li class="nav-item"><a href="@Url.Action("AssignedList", "Home")" class="nav-link">Assigned Requisition List</a></li>
                    <li class="nav-item"><a href="@Url.Action("CompleteRequsition", "Home")" class="nav-link">Complete Requisition</a></li>
                </ul>


                <a href="#" class="br-menu-link">
                    <div class="br-menu-item">
                        <i class="fa fa-male" aria-hidden="true"></i>
                        <span class="menu-item-label">Employee Register</span>
                        <i class="menu-item-arrow fa fa-angle-down"></i>
                    </div><!-- menu-item -->
                </a>
                <!-- br-menu-link -->
                <ul class="br-menu-sub nav flex-column">
                    <li class="nav-item"><a href="@Url.Action("EmployeeRegisterWithRole", "Account")" class="nav-link">Employee With Role</a></li>
                    <li class="nav-item"><a href="@Url.Action("Index", "Employee")" class="nav-link">Employee</a></li>
                    <li class="nav-item"><a href="@Url.Action("Index", "Driver")" class="nav-link">Driver</a></li>
                </ul>



                <a href="#" class="br-menu-link">
                    <div class="br-menu-item">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                        <span class="menu-item-label">Setup</span>
                        <i class="menu-item-arrow fa fa-angle-down"></i>
                    </div><!-- menu-item -->
                </a>
                <!-- br-menu-link -->
                <ul class="br-menu-sub nav flex-column">
                    <li class="nav-item"><a href="@Url.Action("Index", "Division")" class="nav-link">Division</a></li>
                    <li class="nav-item"><a href="@Url.Action("Index", "District")" class="nav-link">District</a></li>
                    <li class="nav-item"><a href="@Url.Action("Index", "Thana")" class="nav-link">Thana</a></li>
                    <li class="nav-item"><a href="@Url.Action("Index", "Vehicle")" class="nav-link">Vehicle</a></li>
                </ul>


                @*<a href="#" class="br-menu-link">
                        <div class="br-menu-item">
                            <i class="menu-item-icon icon ion-ios-filing-outline tx-24"></i>
                            <span class="menu-item-label">Today Schedule</span>
                            <i class="menu-item-arrow fa fa-angle-down"></i>
                        </div><!-- menu-item -->
                    </a>
                    <!-- br-menu-link -->
                    <ul class="br-menu-sub nav flex-column">
                        <li class="nav-item"><a href="@Url.Action("TodayAssignedList", "Manager")" class="nav-link">Today Assign List</a></li>
                        <li class="nav-item"><a href="@Url.Action("FullAssignList", "Manager")" class="nav-link">Full Assign List</a></li>
                    </ul>*@


                <a href="@Url.Action("Car", "Manager")" class="br-menu-link">
                    <div class="br-menu-item">
                        <i class="fa fa-car" aria-hidden="true"></i>
                        <span class="menu-item-label">Total Vehicle</span>
                    </div><!-- menu-item -->
                </a>
                <!-- br-menu-link -->

                <a href="@Url.Action("DriverList", "Employee")" class="br-menu-link">
                    <div class="br-menu-item">
                        <i class="fa fa-male" aria-hidden="true"></i>
                        <span class="menu-item-label">Total Driver</span>
                    </div><!-- menu-item -->
                </a>
            </div>
    <!-- br-menu-link -->
                }
                @if (User.IsInRole(AppEnum.RoleEnum.Employee.ToString()))
                {<div>
                <a href="@Url.Action("Dashboard", "Home")" class="br-menu-link active">
                    <div class="br-menu-item">
                        <i class="menu-item-icon icon ion-ios-home-outline tx-22"></i>
                        <span class="menu-item-label">Dashboard</span>
                    </div><!-- menu-item -->
                </a>
                <!-- br-menu-link -->

                <a href="#" class="br-menu-link">
                    <div class="br-menu-item">
                        <i class="menu-item-icon icon ion-ios-filing-outline tx-24"></i>
                        <span class="menu-item-label">Requisition</span>
                        <i class="menu-item-arrow fa fa-angle-down"></i>
                    </div><!-- menu-item -->
                </a>
                <!-- br-menu-link -->
                <ul class="br-menu-sub nav flex-column">
                    <li class="nav-item"><a href="@Url.Action("NewList", "Home")" class="nav-link">New Requisition</a></li>
                    @*<li class="nav-item"><a href="@Url.Action("MyRequisitionList", "Requsition")" class="nav-link">My Requisition</a></li>*@
                    <li class="nav-item"><a href="@Url.Action("HoldList", "Home")" class="nav-link">Hold Requisition List</a></li>
                    <li class="nav-item"><a href="@Url.Action("AssignedList", "Home")" class="nav-link">Assigned Requisition List</a></li>
                    <li class="nav-item"><a href="@Url.Action("CompleteRequsition", "Home")" class="nav-link">Complete Requisition</a></li>
                </ul>



                @*<a href="#" class="br-menu-link">
                        <div class="br-menu-item">
                            <i class="menu-item-icon icon ion-ios-filing-outline tx-24"></i>
                            <span class="menu-item-label">Today Schedule</span>
                            <i class="menu-item-arrow fa fa-angle-down"></i>
                        </div><!-- menu-item -->
                    </a>
                    <!-- br-menu-link -->
                    <ul class="br-menu-sub nav flex-column">
                        <li class="nav-item"><a href="@Url.Action("TodayAssignedList", "Manager")" class="nav-link">Today Assign List</a></li>
                        <li class="nav-item"><a href="@Url.Action("FullAssignList", "Manager")" class="nav-link">Full Assign List</a></li>
                    </ul>*@

            </div>
    <!-- br-menu-link -->
                }
                @if (User.IsInRole(AppEnum.RoleEnum.Driver.ToString()))
                {<div>
                <a href="@Url.Action("Dashboard", "Home")" class="br-menu-link active">
                    <div class="br-menu-item">
                        <i class="menu-item-icon icon ion-ios-home-outline tx-22"></i>
                        <span class="menu-item-label">Dashboard</span>
                    </div><!-- menu-item -->
                </a>
                <!-- br-menu-link -->
                <a href="#" class="br-menu-link">
                    <div class="br-menu-item">
                        <i class="menu-item-icon icon ion-ios-filing-outline tx-24"></i>
                        <span class="menu-item-label">My Duties</span>
                        <i class="menu-item-arrow fa fa-angle-down"></i>
                    </div><!-- menu-item -->
                </a>
                <!-- br-menu-link -->
                <ul class="br-menu-sub nav flex-column">
                    <li class="nav-item"><a href="@Url.Action("MyDutyList", "Driver")" class="nav-link">Upcoming Duties</a></li>
                    @*<li class="nav-item"><a href="@Url.Action("MyRequisitionList", "Requsition")" class="nav-link">My Requisition</a></li>*@
                    <li class="nav-item"><a href="@Url.Action("MyCompletedDuties", "Driver")" class="nav-link">Completed Duties</a></li>

                </ul>



                @*<a href="#" class="br-menu-link">
                        <div class="br-menu-item">
                            <i class="menu-item-icon icon ion-ios-filing-outline tx-24"></i>
                            <span class="menu-item-label">Today Schedule</span>
                            <i class="menu-item-arrow fa fa-angle-down"></i>
                        </div><!-- menu-item -->
                    </a>
                    <!-- br-menu-link -->
                    <ul class="br-menu-sub nav flex-column">
                        <li class="nav-item"><a href="@Url.Action("TodayAssignedList", "Manager")" class="nav-link">Today Assign List</a></li>
                        <li class="nav-item"><a href="@Url.Action("FullAssignList", "Manager")" class="nav-link">Full Assign List</a></li>
                    </ul>*@

            </div>
    <!-- br-menu-link -->
                }
            </div><!-- br-sideleft-menu -->

        </div><!-- info-lst -->
    }
    <!-- ########## END: LEFT PANEL ########## -->
    <!-- ########## START: HEAD PANEL ########## -->
    <div class="br-header" style="background:#abd7fb !important ">
        <div class="br-header-left">
            <div class="navicon-left hidden-md-down"><a id="btnLeftMenu" href=""><i class="icon ion-navicon-round"></i></a></div>
            <div class="navicon-left hidden-lg-up">
                <a id="btnLeftMenuMobile" href=""><i class="icon ion-navicon-round"></i></a>

            </div>
            @*<div class="input-group hidden-xs-down wd-170 transition">
                    <input id="searchbox" type="text" class="form-control" placeholder="Search">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button"><i class="fa fa-search"></i></button>
                    </span>
                </div>*@<!-- input-group -->
        </div><!-- br-header-left -->


        <div class="br-header-right">
            @if (Request.IsAuthenticated)
            {
                <nav class="nav">
                    <div class="dropdown">

                        <a href="" class="nav-link pd-x-7 pos-relative" data-toggle="dropdown">
                            <!-- start: if statement -->
                            <span>
                                <i class="icon ion-ios-email-outline tx-24">
                                    <span class="myNotification">
                                        @Html.Raw(totalNewComments)
                                    </span>
                                </i>

                            </span>
                            <!-- end: if statement -->
                        </a>
                        <div class="dropdown-menu dropdown-menu-header wd-300 pd-0-force">
                            @*<div class="d-flex align-items-center justify-content-between pd-y-10 pd-x-20 bd-b bd-gray-200">
                    <label class="tx-12 tx-info tx-uppercase tx-semibold tx-spacing-2 mg-b-0">Notifications</label>
                    <a href="" class="tx-11">Mark All as Read</a>
                </div>*@<!-- d-flex -->

                            <div class="media-list">
                                <!-- loop starts here -->
                                <div>
                                    @*<a href="" class="media-list-link read">
                            <div class="media pd-x-20 pd-y-15">
                                <img src="http://via.placeholder.com/280x280" class="wd-40 rounded-circle" alt="">
                                <div class="media-body">
                                    <p class="tx-13 mg-b-0 tx-gray-700">
                                        <strong class="tx-medium tx-gray-800">Suzzeth Bungaos</strong> tagged you and 18 others in a post.
                                    </p>
                                    <span class="tx-12">October 03, 2017 8:45am</span>
                                </div>
                            </div><!-- media -->
                        </a>
                        <!-- loop ends here -->
                        <a href="" class="media-list-link read">
                            <div class="media pd-x-20 pd-y-15">
                                <img src="http://via.placeholder.com/280x280" class="wd-40 rounded-circle" alt="">
                                <div class="media-body">
                                    <p class="tx-13 mg-b-0 tx-gray-700">
                                        <strong class="tx-medium tx-gray-800">Mellisa Brown</strong> appreciated your work <strong class="tx-medium tx-gray-800">The Social Network</strong>
                                    </p>
                                    <span class="tx-12">October 02, 2017 12:44am</span>
                                </div>
                            </div><!-- media -->
                        </a>
                        <a href="" class="media-list-link read">
                            <div class="media pd-x-20 pd-y-15">
                                <img src="http://via.placeholder.com/280x280" class="wd-40 rounded-circle" alt="">
                                <div class="media-body">
                                    <p class="tx-13 mg-b-0 tx-gray-700">
                                        20+ new items added are for sale in your <strong class="tx-medium tx-gray-800">Sale Group</strong>
                                    </p>
                                    <span class="tx-12">October 01, 2017 10:20pm</span>
                                </div>
                            </div><!-- media -->
                        </a>
                        <a href="" class="media-list-link read">
                            <div class="media pd-x-20 pd-y-15">
                                <img src="http://via.placeholder.com/280x280" class="wd-40 rounded-circle" alt="">
                                <div class="media-body">
                                    <p class="tx-13 mg-b-0 tx-gray-700">
                                        <strong class="tx-medium tx-gray-800">Julius Erving</strong> wants to connect with you on your conversation with <strong class="tx-medium tx-gray-800">Ronnie Mara</strong>
                                    </p>
                                    <span class="tx-12">October 01, 2017 6:08pm</span>
                                </div>
                            </div><!-- media -->
                        </a>*@
                                </div>
                                <ul class="list-unstyled user-profile-nav">@{ Html.RenderAction("_CommentsListPartial", "Home"); }</ul>

                                <div class="pd-y-10 tx-center bd-t">
                                    <a href="@Url.Action("AllUnseenComments", "Requsition")" class="tx-12"><i class="fa fa-angle-down mg-r-5"></i> Show All Comments</a>
                                </div>
                            </div><!-- media-list -->
                        </div><!-- dropdown-menu -->
                    </div><!-- dropdown -->
                    <div class="dropdown">
                        <a href="" class="nav-link pd-x-7 pos-relative" data-toggle="dropdown">


                            <!-- start: if statement -->
                            <span>
                                <i class="icon ion-ios-bell-outline tx-24">
                                    <span class="myNotification">
                                        @Html.Raw(totalNewNotifications)
                                    </span>
                                </i>

                            </span>
                            <!-- end: if statement -->
                        </a>
                        <div class="dropdown-menu dropdown-menu-header wd-300 pd-0-force">
                            @*<div class="d-flex align-items-center justify-content-between pd-y-10 pd-x-20 bd-b bd-gray-200">
                                <label class="tx-12 tx-info tx-uppercase tx-semibold tx-spacing-2 mg-b-0">Messages</label>
                                <a href="" class="tx-11">+ Add New Message</a>
                            </div>*@<!-- d-flex -->

                            <div class="media-list">
                                <div>
                                    <!-- loop starts here -->
                                    @*<a href="" class="media-list-link">
                                        <div class="media pd-x-20 pd-y-15">
                                            <img src="http://via.placeholder.com/280x280" class="wd-40 rounded-circle" alt="">
                                            <div class="media-body">
                                                <div class="d-flex align-items-center justify-content-between mg-b-5">
                                                    <p class="mg-b-0 tx-medium tx-gray-800 tx-14">Donna Seay</p>
                                                    <span class="tx-11 tx-gray-500">2 minutes ago</span>
                                                </div><!-- d-flex -->
                                                <p class="tx-12 mg-b-0">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring.</p>
                                            </div>
                                        </div><!-- media -->
                                    </a>
                                    <!-- loop ends here -->
                                    <a href="" class="media-list-link read">
                                        <div class="media pd-x-20 pd-y-15">
                                            <img src="http://via.placeholder.com/280x280" class="wd-40 rounded-circle" alt="">
                                            <div class="media-body">
                                                <div class="d-flex align-items-center justify-content-between mg-b-5">
                                                    <p class="mg-b-0 tx-medium tx-gray-800 tx-14">Samantha Francis</p>
                                                    <span class="tx-11 tx-gray-500">3 hours ago</span>
                                                </div><!-- d-flex -->
                                                <p class="tx-12 mg-b-0">My entire soul, like these sweet mornings of spring.</p>
                                            </div>
                                        </div><!-- media -->
                                    </a>
                                    <a href="" class="media-list-link read">
                                        <div class="media pd-x-20 pd-y-15">
                                            <img src="http://via.placeholder.com/280x280" class="wd-40 rounded-circle" alt="">
                                            <div class="media-body">
                                                <div class="d-flex align-items-center justify-content-between mg-b-5">
                                                    <p class="mg-b-0 tx-medium tx-gray-800 tx-14">Robert Walker</p>
                                                    <span class="tx-11 tx-gray-500">5 hours ago</span>
                                                </div><!-- d-flex -->
                                                <p class="tx-12 mg-b-0">I should be incapable of drawing a single stroke at the present moment...</p>
                                            </div>
                                        </div><!-- media -->
                                    </a>
                                    <a href="" class="media-list-link read">
                                        <div class="media pd-x-20 pd-y-15">
                                            <img src="http://via.placeholder.com/280x280" class="wd-40 rounded-circle" alt="">
                                            <div class="media-body">
                                                <div class="d-flex align-items-center justify-content-between mg-b-5">
                                                    <p class="mg-b-0 tx-medium tx-gray-800 tx-14">Larry Smith</p>
                                                    <span class="tx-11 tx-gray-500">Yesterday</span>
                                                </div><!-- d-flex -->
                                                <p class="tx-12 mg-b-0">When, while the lovely valley teems with vapour around me, and the meridian sun strikes...</p>
                                            </div>
                                        </div><!-- media -->
                                    </a>*@
                                </div>
                                <ul class="list-unstyled user-profile-nav">@{ Html.RenderAction("_NotificationListPartial", "Requsition"); }</ul>
                                <div class="pd-y-10 tx-center bd-t">
                                    <a href="@Url.Action("AllUnseenNotifications", "Requsition")" class="tx-12"><i class="fa fa-angle-down mg-r-5"></i> Show All Notifications</a>
                                </div>
                            </div><!-- media-list -->
                        </div><!-- dropdown-menu -->
                    </div><!-- dropdown -->


                    <div class="dropdown">


                        <a href="" class="nav-link nav-link-profile" data-toggle="dropdown">
                            <span class="logged-name hidden-md-down" style="font-size: 18px">@User.Identity.Name</span>
                            <img src="@Url.Action("UserPhotos", "Home")" class="wd-32 rounded-circle" alt=""/>
                            @*<span class="square-10 bg-success"></span>*@
                        </a>

                        <div class="dropdown-menu dropdown-menu-header wd-200">
                            @*@if (Request.IsAuthenticated)
                                {*@

                            <ul class="list-unstyled user-profile-nav">@Html.Partial("_LoginPartial")</ul>
                            @*}*@
                            @*<ul class="list-unstyled user-profile-nav">
                                
                             
                                    <li><a href=""><i class="icon ion-ios-person"></i> Edit Profile</a></li>
                                    <li><a href=""><i class="icon ion-ios-gear"></i> Settings</a></li>
                                    <li><a href=""><i class="icon ion-ios-download"></i> Downloads</a></li>
                                    <li><a href=""><i class="icon ion-ios-star"></i> Favorites</a></li>
                                    <li><a href=""><i class="icon ion-ios-folder"></i> Collections</a></li>
                                    <li><a href=""><i class="icon ion-power"></i> Sign Out</a></li>
                                </ul>*@

                        </div>


                        <!-- dropdown-menu -->
                    </div><!-- dropdown -->
                </nav>
            }
            else
            {
                <a href="@Url.Action("Login", "Account")" class="nav-link" style="font-size: 20px;">Log in</a>

            }
            <!-- language -->
            <div class="language" id="google_translate_element">

            </div>
            <!-- language -->
            @if (Request.IsAuthenticated)
            {
                <div class="navicon-right">
                    <a id="btnRightMenu" href="" class="pos-relative">
                        <i class="icon ion-ios-chatboxes-outline"></i>
                        <!-- start: if statement -->
                        <span class="square-8 bg-danger pos-absolute t-10 r--5 rounded-circle"></span>
                        <!-- end: if statement -->
                    </a>
                </div><!-- navicon-right -->
            }


        </div><!-- br-header-right -->
    </div><!-- br-header -->
    <!-- ########## END: HEAD PANEL ########## -->
    <!-- ########## START: RIGHT PANEL ########## -->

    <div class="br-sideright">
        <ul class="nav nav-tabs sidebar-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" role="tab" href="#contacts"><i class="icon ion-ios-contact-outline tx-24"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" role="tab" href="#attachments"><i class="icon ion-ios-folder-outline tx-22"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" role="tab" href="#calendar"><i class="icon ion-ios-calendar-outline tx-24"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" role="tab" href="#settings"><i class="icon ion-ios-gear-outline tx-24"></i></a>
            </li>
        </ul><!-- sidebar-tabs -->
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane pos-absolute a-0 mg-t-60 overflow-y-auto active" id="contacts" role="tabpanel">
                <label class="sidebar-label pd-x-25 mg-t-25">Online Contacts</label>
                <div class="contact-list pd-x-10">
                    <a href="" class="contact-list-link new">
                        <div class="d-flex">
                            <div class="pos-relative">
                                <img src="http://via.placeholder.com/280x280" class="wd-40 rounded-circle" alt="">
                                <div class="contact-status-indicator bg-success"></div>
                            </div>
                            <div class="contact-person">
                                <p class="mg-b-0">Marilyn Tarter</p>
                                <span class="tx-12 op-5 d-inline-block">Clemson, CA</span>
                            </div>
                            <span class="tx-info tx-12"><span class="square-8 bg-info rounded-circle"></span> 1 new</span>
                        </div><!-- d-flex -->
                    </a><!-- contact-list-link -->
                    <a href="" class="contact-list-link">
                        <div class="d-flex">
                            <div class="pos-relative">
                                <img src="http://via.placeholder.com/280x280" class="wd-40 rounded-circle" alt="">
                                <div class="contact-status-indicator bg-success"></div>
                            </div>
                            <div class="contact-person">
                                <p class="mg-b-0 ">Belinda Connor</p>
                                <span class="tx-12 op-5 d-inline-block">Fort Kent, ME</span>
                            </div>
                        </div><!-- d-flex -->
                    </a><!-- contact-list-link -->
                    <a href="" class="contact-list-link new">
                        <div class="d-flex">
                            <div class="pos-relative">
                                <img src="http://via.placeholder.com/280x280" class="wd-40 rounded-circle" alt="">
                                <div class="contact-status-indicator bg-success"></div>
                            </div>
                            <div class="contact-person">
                                <p class="mg-b-0">Britanny Cevallos</p>
                                <span class="tx-12 op-5 d-inline-block">Shiboygan Falls, WI</span>
                            </div>
                            <span class="tx-info tx-12"><span class="square-8 bg-info rounded-circle"></span> 3 new</span>
                        </div><!-- d-flex -->
                    </a><!-- contact-list-link -->
                    <a href="" class="contact-list-link new">
                        <div class="d-flex">
                            <div class="pos-relative">
                                <img src="http://via.placeholder.com/280x280" class="wd-40 rounded-circle" alt="">
                                <div class="contact-status-indicator bg-success"></div>
                            </div>
                            <div class="contact-person">
                                <p class="mg-b-0">Brandon Lawrence</p>
                                <span class="tx-12 op-5 d-inline-block">Snohomish, WA</span>
                            </div>
                            <span class="tx-info tx-12"><span class="square-8 bg-info rounded-circle"></span> 1 new</span>
                        </div><!-- d-flex -->
                    </a><!-- contact-list-link -->
                    <a href="" class="contact-list-link">
                        <div class="d-flex">
                            <div class="pos-relative">
                                <img src="http://via.placeholder.com/280x280" class="wd-40 rounded-circle" alt="">
                                <div class="contact-status-indicator bg-success"></div>
                            </div>
                            <div class="contact-person">
                                <p class="mg-b-0">Andrew Wiggins</p>
                                <span class="tx-12 op-5 d-inline-block">Springfield, MA</span>
                            </div>
                        </div><!-- d-flex -->
                    </a><!-- contact-list-link -->
                    <a href="" class="contact-list-link">
                        <div class="d-flex">
                            <div class="pos-relative">
                                <img src="http://via.placeholder.com/280x280" class="wd-40 rounded-circle" alt="">
                                <div class="contact-status-indicator bg-success"></div>
                            </div>
                            <div class="contact-person">
                                <p class="mg-b-0">Theodore Gristen</p>
                                <span class="tx-12 op-5 d-inline-block">Nashville, TN</span>
                            </div>
                        </div><!-- d-flex -->
                    </a><!-- contact-list-link -->
                    <a href="" class="contact-list-link">
                        <div class="d-flex">
                            <div class="pos-relative">
                                <img src="http://via.placeholder.com/280x280" class="wd-40 rounded-circle" alt="">
                                <div class="contact-status-indicator bg-success"></div>
                            </div>
                            <div class="contact-person">
                                <p class="mg-b-0">Deborah Miner</p>
                                <span class="tx-12 op-5 d-inline-block">North Shore, CA</span>
                            </div>
                        </div><!-- d-flex -->
                    </a><!-- contact-list-link -->
                </div><!-- contact-list -->


                <label class="sidebar-label pd-x-25 mg-t-25">Offline Contacts</label>
                <div class="contact-list pd-x-10">
                    <a href="" class="contact-list-link">
                        <div class="d-flex">
                            <div class="pos-relative">
                                <img src="http://via.placeholder.com/280x280" class="wd-40 rounded-circle" alt="">
                                <div class="contact-status-indicator bg-gray-500"></div>
                            </div>
                            <div class="contact-person">
                                <p class="mg-b-0">Marilyn Tarter</p>
                                <span class="tx-12 op-5 d-inline-block">Clemson, CA</span>
                            </div>
                        </div><!-- d-flex -->
                    </a><!-- contact-list-link -->
                    <a href="" class="contact-list-link">
                        <div class="d-flex">
                            <div class="pos-relative">
                                <img src="http://via.placeholder.com/280x280" class="wd-40 rounded-circle" alt="">
                                <div class="contact-status-indicator bg-gray-500"></div>
                            </div>
                            <div class="mg-l-10">
                                <p class="mg-b-0">Belinda Connor</p>
                                <span class="tx-12 op-5 d-inline-block">Fort Kent, ME</span>
                            </div>
                        </div><!-- d-flex -->
                    </a><!-- contact-list-link -->
                    <a href="" class="contact-list-link">
                        <div class="d-flex">
                            <div class="pos-relative">
                                <img src="http://via.placeholder.com/280x280" class="wd-40 rounded-circle" alt="">
                                <div class="contact-status-indicator bg-gray-500"></div>
                            </div>
                            <div class="contact-person">
                                <p class="mg-b-0">Britanny Cevallos</p>
                                <span class="tx-12 op-5 d-inline-block">Shiboygan Falls, WI</span>
                            </div>
                        </div><!-- d-flex -->
                    </a><!-- contact-list-link -->
                    <a href="" class="contact-list-link">
                        <div class="d-flex">
                            <div class="pos-relative">
                                <img src="http://via.placeholder.com/280x280" class="wd-40 rounded-circle" alt="">
                                <div class="contact-status-indicator bg-gray-500"></div>
                            </div>
                            <div class="contact-person">
                                <p class="mg-b-0">Brandon Lawrence</p>
                                <span class="tx-12 op-5 d-inline-block">Snohomish, WA</span>
                            </div>
                        </div><!-- d-flex -->
                    </a><!-- contact-list-link -->
                    <a href="" class="contact-list-link">
                        <div class="d-flex">
                            <div class="pos-relative">
                                <img src="http://via.placeholder.com/280x280" class="wd-40 rounded-circle" alt="">
                                <div class="contact-status-indicator bg-gray-500"></div>
                            </div>
                            <div class="contact-person">
                                <p class="mg-b-0">Andrew Wiggins</p>
                                <span class="tx-12 op-5 d-inline-block">Springfield, MA</span>
                            </div>
                        </div><!-- d-flex -->
                    </a><!-- contact-list-link -->
                    <a href="" class="contact-list-link">
                        <div class="d-flex">
                            <div class="pos-relative">
                                <img src="http://via.placeholder.com/280x280" class="wd-40 rounded-circle" alt="">
                                <div class="contact-status-indicator bg-gray-500"></div>
                            </div>
                            <div class="contact-person">
                                <p class="mg-b-0">Theodore Gristen</p>
                                <span class="tx-12 op-5 d-inline-block">Nashville, TN</span>
                            </div>
                        </div><!-- d-flex -->
                    </a><!-- contact-list-link -->
                    <a href="" class="contact-list-link">
                        <div class="d-flex">
                            <div class="pos-relative">
                                <img src="http://via.placeholder.com/280x280" class="wd-40 rounded-circle" alt="">
                                <div class="contact-status-indicator bg-gray-500"></div>
                            </div>
                            <div class="contact-person">
                                <p class="mg-b-0">Deborah Miner</p>
                                <span class="tx-12 op-5 d-inline-block">North Shore, CA</span>
                            </div>
                        </div><!-- d-flex -->
                    </a><!-- contact-list-link -->
                </div><!-- contact-list -->

            </div><!-- #contacts -->


            <div class="tab-pane pos-absolute a-0 mg-t-60 overflow-y-auto" id="attachments" role="tabpanel">
                <label class="sidebar-label pd-x-25 mg-t-25">Recent Attachments</label>
                <div class="media-file-list">
                    <div class="media">
                        <div class="pd-10 bg-primary wd-50 ht-60 tx-center d-flex align-items-center justify-content-center">
                            <i class="fa fa-file-image-o tx-28 tx-white"></i>
                        </div>
                        <div class="media-body">
                            <p class="mg-b-0 tx-13">IMG_43445</p>
                            <p class="mg-b-0 tx-12 op-5">JPG Image</p>
                            <p class="mg-b-0 tx-12 op-5">1.2mb</p>
                        </div><!-- media-body -->
                        <a href="" class="more"><i class="icon ion-android-more-vertical tx-18"></i></a>
                    </div><!-- media -->
                    <div class="media mg-t-20">
                        <div class="pd-10 bg-purple wd-50 ht-60 tx-center d-flex align-items-center justify-content-center">
                            <i class="fa fa-file-video-o tx-28 tx-white"></i>
                        </div>
                        <div class="media-body">
                            <p class="mg-b-0 tx-13">VID_6543</p>
                            <p class="mg-b-0 tx-12 op-5">MP4 Video</p>
                            <p class="mg-b-0 tx-12 op-5">24.8mb</p>
                        </div><!-- media-body -->
                        <a href="" class="more"><i class="icon ion-android-more-vertical tx-18"></i></a>
                    </div><!-- media -->
                    <div class="media mg-t-20">
                        <div class="pd-10 bg-success wd-50 ht-60 tx-center d-flex align-items-center justify-content-center">
                            <i class="fa fa-file-word-o tx-28 tx-white"></i>
                        </div>
                        <div class="media-body">
                            <p class="mg-b-0 tx-13">Tax_Form</p>
                            <p class="mg-b-0 tx-12 op-5">Word Document</p>
                            <p class="mg-b-0 tx-12 op-5">5.5mb</p>
                        </div><!-- media-body -->
                        <a href="" class="more"><i class="icon ion-android-more-vertical tx-18"></i></a>
                    </div><!-- media -->
                    <div class="media mg-t-20">
                        <div class="pd-10 bg-warning wd-50 ht-60 tx-center d-flex align-items-center justify-content-center">
                            <i class="fa fa-file-pdf-o tx-28 tx-white"></i>
                        </div>
                        <div class="media-body">
                            <p class="mg-b-0 tx-13">Getting_Started</p>
                            <p class="mg-b-0 tx-12 op-5">PDF Document</p>
                            <p class="mg-b-0 tx-12 op-5">12.7mb</p>
                        </div><!-- media-body -->
                        <a href="" class="more"><i class="icon ion-android-more-vertical tx-18"></i></a>
                    </div><!-- media -->
                    <div class="media mg-t-20">
                        <div class="pd-10 bg-warning wd-50 ht-60 tx-center d-flex align-items-center justify-content-center">
                            <i class="fa fa-file-pdf-o tx-28 tx-white"></i>
                        </div>
                        <div class="media-body">
                            <p class="mg-b-0 tx-13">Introduction</p>
                            <p class="mg-b-0 tx-12 op-5">PDF Document</p>
                            <p class="mg-b-0 tx-12 op-5">7.7mb</p>
                        </div><!-- media-body -->
                        <a href="" class="more"><i class="icon ion-android-more-vertical tx-18"></i></a>
                    </div><!-- media -->
                    <div class="media mg-t-20">
                        <div class="pd-10 bg-primary wd-50 ht-60 tx-center d-flex align-items-center justify-content-center">
                            <i class="fa fa-file-image-o tx-28 tx-white"></i>
                        </div>
                        <div class="media-body">
                            <p class="mg-b-0 tx-13">IMG_43420</p>
                            <p class="mg-b-0 tx-12 op-5">JPG Image</p>
                            <p class="mg-b-0 tx-12 op-5">2.2mb</p>
                        </div><!-- media-body -->
                        <a href="" class="more"><i class="icon ion-android-more-vertical tx-18"></i></a>
                    </div><!-- media -->
                    <div class="media mg-t-20">
                        <div class="pd-10 bg-primary wd-50 ht-60 tx-center d-flex align-items-center justify-content-center">
                            <i class="fa fa-file-image-o tx-28 tx-white"></i>
                        </div>
                        <div class="media-body">
                            <p class="mg-b-0 tx-13">IMG_43447</p>
                            <p class="mg-b-0 tx-12 op-5">JPG Image</p>
                            <p class="mg-b-0 tx-12 op-5">3.2mb</p>
                        </div><!-- media-body -->
                        <a href="" class="more"><i class="icon ion-android-more-vertical tx-18"></i></a>
                    </div><!-- media -->
                    <div class="media mg-t-20">
                        <div class="pd-10 bg-purple wd-50 ht-60 tx-center d-flex align-items-center justify-content-center">
                            <i class="fa fa-file-video-o tx-28 tx-white"></i>
                        </div>
                        <div class="media-body">
                            <p class="mg-b-0 tx-13">VID_6545</p>
                            <p class="mg-b-0 tx-12 op-5">AVI Video</p>
                            <p class="mg-b-0 tx-12 op-5">14.8mb</p>
                        </div><!-- media-body -->
                        <a href="" class="more"><i class="icon ion-android-more-vertical tx-18"></i></a>
                    </div><!-- media -->
                    <div class="media mg-t-20">
                        <div class="pd-10 bg-success wd-50 ht-60 tx-center d-flex align-items-center justify-content-center">
                            <i class="fa fa-file-word-o tx-28 tx-white"></i>
                        </div>
                        <div class="media-body">
                            <p class="mg-b-0 tx-13">Secret_Document</p>
                            <p class="mg-b-0 tx-12 op-5">Word Document</p>
                            <p class="mg-b-0 tx-12 op-5">4.5mb</p>
                        </div><!-- media-body -->
                        <a href="" class="more"><i class="icon ion-android-more-vertical tx-18"></i></a>
                    </div><!-- media -->
                </div><!-- media-list -->
            </div><!-- #history -->
            <div class="tab-pane pos-absolute a-0 mg-t-60 overflow-y-auto" id="calendar" role="tabpanel">
                <label class="sidebar-label pd-x-25 mg-t-25">Time &amp; Date</label>
                <div class="pd-x-25">
                    <h2 id="brTime" class="tx-white tx-lato mg-b-5"></h2>
                    <h6 id="brDate" class="tx-white tx-light op-3"></h6>
                </div>

                <label class="sidebar-label pd-x-25 mg-t-25">Events Calendar</label>
                <div class="datepicker sidebar-datepicker"></div>


                <label class="sidebar-label pd-x-25 mg-t-25">Event Today</label>
                <div class="pd-x-25">
                    <div class="list-group sidebar-event-list mg-b-20">
                        <div class="list-group-item">
                            <div>
                                <h6 class="tx-white tx-13 mg-b-5 tx-normal">Roven's 32th Birthday</h6>
                                <p class="mg-b-0 tx-white tx-12 op-2">2:30PM</p>
                            </div>
                            <a href="" class="more"><i class="icon ion-android-more-vertical tx-18"></i></a>
                        </div><!-- list-group-item -->
                        <div class="list-group-item">
                            <div>
                                <h6 class="tx-white tx-13 mg-b-5 tx-normal">Regular Workout Schedule</h6>
                                <p class="mg-b-0 tx-white tx-12 op-2">7:30PM</p>
                            </div>
                            <a href="" class="more"><i class="icon ion-android-more-vertical tx-18"></i></a>
                        </div><!-- list-group-item -->
                    </div><!-- list-group -->

                    <a href="" class="btn btn-block btn-outline-secondary tx-uppercase tx-11 tx-spacing-2">+ Add Event</a>
                    <br>
                </div>

            </div>
            <div class="tab-pane pos-absolute a-0 mg-t-60 overflow-y-auto" id="settings" role="tabpanel">
                <label class="sidebar-label pd-x-25 mg-t-25">Quick Settings</label>

                <div class="pd-y-20 pd-x-25 tx-white">
                    <h6 class="tx-13 tx-normal">Sound Notification</h6>
                    <p class="op-5 tx-13">Play an alert sound everytime there is a new notification.</p>
                    <div class="pos-relative">
                        <input type="checkbox" name="checkbox" class="switch-button" checked>
                    </div>
                </div>

                <div class="pd-y-20 pd-x-25 tx-white">
                    <h6 class="tx-13 tx-normal">2 Steps Verification</h6>
                    <p class="op-5 tx-13">Sign in using a two step verification by sending a verification code to your phone.</p>
                    <div class="pos-relative">
                        <input type="checkbox" name="checkbox2" class="switch-button">
                    </div>
                </div>

                <div class="pd-y-20 pd-x-25 tx-white">
                    <h6 class="tx-13 tx-normal">Location Services</h6>
                    <p class="op-5 tx-13">Allowing us to access your location</p>
                    <div class="pos-relative">
                        <input type="checkbox" name="checkbox3" class="switch-button">
                    </div>
                </div>

                <div class="pd-y-20 pd-x-25 tx-white">
                    <h6 class="tx-13 tx-normal">Newsletter Subscription</h6>
                    <p class="op-5 tx-13">Enables you to send us news and updates send straight to your email.</p>
                    <div class="pos-relative">
                        <input type="checkbox" name="checkbox4" class="switch-button" checked>
                    </div>
                </div>

                <div class="pd-y-20 pd-x-25 tx-white">
                    <h6 class="tx-13 tx-normal">Your email</h6>
                    <div class="pos-relative">
                        <input type="email" name="email" class="form-control form-control-inverse transition pd-y-10" value="janedoe@domain.com">
                    </div>
                </div>

                <div class="pd-y-20 pd-x-25">
                    <h6 class="tx-13 tx-normal tx-white mg-b-20">More Settings</h6>
                    <a href="" class="btn btn-block btn-outline-secondary tx-uppercase tx-11 tx-spacing-2">Account Settings</a>
                    <a href="" class="btn btn-block btn-outline-secondary tx-uppercase tx-11 tx-spacing-2">Privacy Settings</a>
                </div>

            </div>
        </div><!-- tab-content -->
    </div>
    <!-- br-sideright -->
    <!-- ########## END: RIGHT PANEL ########## --->
    <!-- ########## START: MAIN PANEL ########## -->
    <div class="br-mainpanel">
        <div class="pd-30">

        </div><!-- d-flex -->

        <div class="br-pagebody mg-t-5 pd-x-30">
            @RenderBody()


            <div>
                <div id="chartLine1"></div>
            </div>

            <footer class="br-footer">
                <div class="footer-left">
                    <div class="mg-b-2">Copyright &copy; 2017. Bracket. All Rights Reserved.</div>
                    <div>Attentively and carefully made by ThemePixels.</div>
                </div>
                <div class="footer-right d-flex align-items-center">
                    <span class="tx-uppercase mg-r-10">Share:</span>
                    <a target="_blank" class="pd-x-5" href="https://www.facebook.com/sharer/sharer.php?u=http%3A//themepixels.me/bracket/intro"><i class="fa fa-facebook tx-20"></i></a>
                    <a target="_blank" class="pd-x-5" href="https://twitter.com/home?status=Bracket,%20your%20best%20choice%20for%20premium%20quality%20admin%20template%20from%20Bootstrap.%20Get%20it%20now%20at%20http%3A//themepixels.me/bracket/intro"><i class="fa fa-twitter tx-20"></i></a>
                </div>
            </footer>
        </div><!-- br-mainpanel -->
    </div>
    <!-- ########## END: MAIN PANEL ########## -->

    <script src="~/DashboardDesign/lib/jquery/jquery.js"></script>
    @*<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>*@
    <script src="~/scripts/DataTables/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-hover-dropdown/2.2.1/bootstrap-hover-dropdown.js"></script>
    <script src="~/DashboardDesign/lib/popper.js/popper.js"></script>
    <script src="~/DashboardDesign/lib/bootstrap/bootstrap.js"></script>
    <script src="~/DashboardDesign/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
    <script src="~/DashboardDesign/lib/moment/moment.js"></script>

    <script src="~/DashboardDesign/lib/jquery-switchbutton/jquery.switchButton.js"></script>
    <script src="~/DashboardDesign/lib/peity/jquery.peity.js"></script>
    <script src="~/DashboardDesign/lib/chartist/chartist.js"></script>
    <script src="~/DashboardDesign/lib/jquery.sparkline.bower/jquery.sparkline.min.js"></script>
    <script src="~/DashboardDesign/lib/d3/d3.js"></script>
    <script src="~/DashboardDesign/lib/rickshaw/rickshaw.min.js"></script>


    <script src="~/DashboardDesign/js/bracket.js"></script>
    <script src="~/DashboardDesign/lib/jquery-ui/jquery-ui.js"></script>
    <script src="~/DashboardDesign/js/ResizeSensor.js"></script>
    <script src="~/DashboardDesign/js/dashboard.js"></script>
    <script src="~/scripts/jquery.unobtrusive-ajax.js"></script>

    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'en', includedLanguages: 'bn,en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE }, 'google_translate_element');
        }
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>



    <script>

        $('#myTable').DataTable({
            responsive:true
        });
        
        $(document).ready(function () {
            $('#chartLine1').hide();
           
        });

        $(function () {
            'use strict';

            // FOR DEMO ONLY
            // menu collapsed by default during first page load or refresh with screen
            // having a size between 992px and 1299px. This is intended on this page only
            // for better viewing of widgets demo.
            $(window).resize(function () {
                minimizeMenu();
            });

            minimizeMenu();

            function minimizeMenu() {
                if (window.matchMedia('(min-width: 992px)').matches && window.matchMedia('(max-width: 1299px)').matches) {
                    // show only the icons and hide left menu label by default
                    $('.menu-item-label,.menu-item-arrow').addClass('op-lg-0-force d-lg-none');
                    $('body').addClass('collapsed-menu');
                    $('.show-sub + .br-menu-sub').slideUp();
                } else if (window.matchMedia('(min-width: 1300px)').matches && !$('body').hasClass('collapsed-menu')) {
                    $('.menu-item-label,.menu-item-arrow').removeClass('op-lg-0-force d-lg-none');
                    $('body').removeClass('collapsed-menu');
                    $('.show-sub + .br-menu-sub').slideDown();
                }
            }
        });
    </script>

    @*<script src="@Url.Content("Scripts/require.js")"></script>*@
    @RenderSection("scripts", required: false)
</body>
</html>
