@using System.Web.UI.WebControls
@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="~/thirdPartyCss/img/bcc_logo.png">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>BCC Vehicle Requisition</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    <link rel="stylesheet" href="~/thirdPartyCss/css/bootstrap.css">
    <link rel="stylesheet" href="~/DashboardDesign/css/animate.css">
    <link rel="stylesheet" href="~/DashboardDesign/css/bracket.css">

    <link href="~/css/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/dataTables.jqueryui.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/thirdPartyCss/css/linearicons.css">
    <link rel="stylesheet" href="~/thirdPartyCss/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/thirdPartyCss/css/bootstrap.css">
    <link rel="stylesheet" href="~/thirdPartyCss/css/magnific-popup.css">
    <link rel="stylesheet" href="~/thirdPartyCss/css/nice-select.css">
    <link rel="stylesheet" href="~/thirdPartyCss/css/hexagons.min.css">
    <link rel="stylesheet" href="~/thirdPartyCss/css/animate.min.css">
    <link rel="stylesheet" href="~/thirdPartyCss/css/owl.carousel.css">
    <link rel="stylesheet" href="~/thirdPartyCss/css/main.css">
    <link href="~/css/myCustom.css" rel="stylesheet" />
    @*<link href="~/Content/Site.css" rel="stylesheet" />*@
    @*=======================================================*@

    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/normalize.css">
    <link rel="stylesheet" href="~/css/style.css">

   
    <style>
        .main-menu {
            padding-top: 20px;
            padding-left: 50px;
            padding-right: 50px;
        }

        .goog-te-banner-frame.skiptranslate {
            display: none !important;
        }

        body {
            top: 0px !important;
        }
    </style>
    @RenderSection("styles", required: false)
    @*<link href="~/css/jquery.datetimepicker.min.css" rel="stylesheet" />*@
    <script src="~/js/vendor/modernizr-3.5.0.min.js"></script>
</head>
<body>

    <!-- ########## START: LEFT PANEL ########## -->
    <div class="br-logo" style="background:#abd7fb !important "><a href="@Url.Action("Index","Home")"><span>[</span><img src="~/thirdPartyCss/img/Untitled-1 copy.png" style="width: 90%" alt="" title="" /><span>]</span></a></div>



    <!-- ########## END: LEFT PANEL ########## -->
    <!-- ########## START: HEAD PANEL ########## -->
    <div class="br-header" style="background:#abd7fb !important ">

        <div class="br-header-left">


        </div><!-- br-header-left -->



        <div class="br-header-right">
            <div style="padding-right: 30px; font-size: 20px; color: black !important;">
                @Html.ActionLink("Log in", "Login", "Account")
            </div>

            <!-- language -->

            <div class="language" id="google_translate_element">

            </div>
            <!-- language -->

        </div>
        <!-- br-header-right -->

    </div><!-- br-header -->
    <!-- ########## END: HEAD PANEL ########## -->


    
        <div class="row">

            <div class="slider_section">
                @RenderBody()
            </div>
        </div>
   


    @*End Render Body*@
    
    <script src="~/thirdPartyCss/js/vendor/jquery-2.2.4.min.js"></script><script src="~/scripts/jquery.validate.js"></script>
    <script src="~/scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/scripts/DataTables/jquery.dataTables.min.js"></script>
    @*<script src="~/scripts/jquery.datetimepicker.full.min.js"></script>*@
    <script src="~/scripts/jquery-ui.js"></script>
    <script src="~/js/plugins.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.slicknav.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="~/thirdPartyCss/js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script src="~/thirdPartyCss/js/easing.min.js"></script>
    <script src="~/thirdPartyCss/js/hoverIntent.js"></script>
    <script src="~/thirdPartyCss/js/superfish.min.js"></script>
    <script src="~/thirdPartyCss/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/thirdPartyCss/js/jquery.magnific-popup.min.js"></script>
    <script src="~/thirdPartyCss/js/owl.carousel.min.js"></script>
    <script src="~/thirdPartyCss/js/hexagons.min.js"></script>
    <script src="~/thirdPartyCss/js/jquery.nice-select.min.js"></script>
    <script src="~/thirdPartyCss/js/jquery.counterup.min.js"></script>
    <script src="~/thirdPartyCss/js/waypoints.min.js"></script>
    <script src="~/thirdPartyCss/js/mail-script.js"></script>
    <script src="~/thirdPartyCss/js/main.js"></script>
    <script src="~/scripts/jquery.unobtrusive-ajax.js"></script>

    @*<script src="~/js/owl.carousel.min.js"></script>
        <script src="~/js/wow.min.js"></script>
        <script src="~/js/jquery.fitvids.js"></script>
        <script src="~/js/main.js"></script>*@


    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'en', includedLanguages: 'bn,en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE }, 'google_translate_element');
        }
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    <script type="text/javascript">

        $(document).ready(function () {

            $('#myTable').DataTable();

        });
    </script>

    @RenderSection("scripts", required: false)


</body>
</html>
