@using VehicleManagementApp.BLL
@using VehicleManagementApp.BLL.Contracts

@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout_Previous.cshtml";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IRequsitionManager managers = new RequsitionManager();
    // r => r.RequestedBy == employeeId || r.EmployeeId == employeeId && r.Status == null
    var managerNew = managers.Get(c => c.Status == null && c.IsDeleted == false).Where(c =>  c.EmployeeId == ViewBag.UserEmployeeId).ToList();

    var countNew = managerNew.Count;
    var managerAssign = managers.Get(c => c.Status == "Assign" && c.IsDeleted == false).Where(c => c.EmployeeId == ViewBag.UserEmployeeId).ToList();
    var managerComplete = managers.Get(c => c.Status == "Complete" && c.IsDeleted == false).Where(c => c.EmployeeId == ViewBag.UserEmployeeId).ToList();
    var managerHold = managers.Get(c => c.Status == "Hold" && c.IsDeleted == false).Where(c => c.EmployeeId == ViewBag.UserEmployeeId).ToList();
    var hold = managerHold.Count;
    var countAssign = managerAssign.Count;
    var countComplete = managerComplete.Count;
    // Requisition count for Controller
    var newRequest = managers.Get(c => c.Status == null && c.IsDeleted == false).ToList().Count;
    var assignRequest = managers.Get(c => c.Status == "Assign" && c.IsDeleted == false).ToList().Count;
    var completeRequest = managers.Get(c => c.Status == "Complete" && c.IsDeleted == false).ToList().Count;
    var holdRequest = managers.Get(c => c.Status == "Hold" && c.IsDeleted == false).ToList().Count;

}

@section styles{
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">*@
    <style>
        a {
            text-decoration: none;
        }

        a:hover {
            text-decoration: none;
        }

        /*.not-active {
            pointer-events: none;
            cursor: default;
            text-decoration: none;
            color: black;
        }*/

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        a.custom-card,
        a.custom-card:hover {
            color: inherit;
        }
        .tab-content.tab-content-alt {
        border-right: 1px solid #ddd;
        border-left: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        border-top-color:transparent;
        border-radius: 0px;
    }
    </style>

  
}

<div>
    @if (TempData["msg"] != null)
            {
        <div class="alert alert-info">
            @TempData["msg"]
        </div>
    }
</div>

@if (User.IsInRole(AppEnum.RoleEnum.Employee.ToString()))
{
    <div class="container">

        <br />
        <br />
        @*<ul class="nav nav-tabs" style="font-size:  20px; ">
                <li class="active"><a data-toggle="tab" href="#tabs-2"></a></li>



            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tabs-2">*@
        <div class="row row-sm">
            <div class="col-md-12" style="height: 30px"></div>
            <div class="col-sm-6 col-xl-3">
                <div class="bg-teal rounded overflow-hidden">
                    <a href="@Url.Action("NewList", "Home")" class="custom-card">
                        <div class="pd-25 d-flex align-items-center">

                            <i class="ion ion-earth tx-60 lh-0 tx-white op-7"></i>
                            <div class="mg-l-20">
                                <p class="tx-10 tx-spacing-1 tx-mont tx-medium tx-uppercase tx-white-8 mg-b-10">New Requisition List</p>
                                <p class="tx-24 tx-white tx-lato tx-bold mg-b-2 lh-1">Total : @countNew</p>
                                <span class="tx-11 tx-roboto tx-white-6">New Comments: @Html.Raw(ViewBag.NewRequisitionComments)</span>

                            </div>
                        </div>
                    </a>
                </div>
            </div><!-- col-3 -->
            <div class="col-sm-6 col-xl-3 mg-t-20 mg-sm-t-0">
                <div class="bg-danger rounded overflow-hidden">
                    <a href="@Url.Action("HoldList", "Home")" class="custom-card">
                        <div class="pd-25 d-flex align-items-center">
                            <i class="ion ion-bag tx-60 lh-0 tx-white op-7"></i>
                            <div class="mg-l-20">
                                <p class="tx-10 tx-spacing-1 tx-mont tx-medium tx-uppercase tx-white-8 mg-b-10">Hold Requisition List</p>
                                <p class="tx-24 tx-white tx-lato tx-bold mg-b-2 lh-1">Total : @hold </p>
                                <span class="tx-11 tx-roboto tx-white-6">New Comments: @Html.Raw(ViewBag.HoldRequisitionComments)</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div><!-- col-3 -->
            <div class="col-sm-6 col-xl-3 mg-t-20 mg-xl-t-0">
                <div class="bg-primary rounded overflow-hidden">
                    <a href="@Url.Action("AssignedList", "Home")" class="custom-card">
                        <div class="pd-25 d-flex align-items-center">
                            <i class="ion ion-monitor tx-60 lh-0 tx-white op-7"></i>
                            <div class="mg-l-20">
                                <p class="tx-10 tx-spacing-1 tx-mont tx-medium tx-uppercase tx-white-8 mg-b-10">Assigned Requisition</p>
                                <p class="tx-24 tx-white tx-lato tx-bold mg-b-2 lh-1">Total : @countAssign </p>
                                <span class="tx-11 tx-roboto tx-white-6">New Comments: @Html.Raw(ViewBag.AssignRequisitionComments)</span>
                            </div>
                        </div>
                    </a>
                </div>

            </div><!-- col-3 -->
            <div class="col-sm-6 col-xl-3 mg-t-20 mg-xl-t-0">
                <div class="bg-br-primary rounded overflow-hidden">
                    <a href="@Url.Action("CompleteRequsition", "Home")" class="custom-card">
                        <div class="pd-25 d-flex align-items-center">
                            <i class="ion ion-clock tx-60 lh-0 tx-white op-7"></i>
                            <div class="mg-l-20">
                                <p class="tx-10 tx-spacing-1 tx-mont tx-medium tx-uppercase tx-white-8 mg-b-10">Completed Requisition</p>
                                <p class="tx-24 tx-white tx-lato tx-bold mg-b-2 lh-1">Total : @countComplete</p>
                                <span class="tx-11 tx-roboto tx-white-6"style="color: transparent">Comments </span>
                            </div>
                        </div>
                    </a>
                </div>
            </div><!-- col-3 -->
        </div>
    </div>
            @*</div>
                </div>*@

}
@if (User.IsInRole(AppEnum.RoleEnum.Driver.ToString()))
{
    <div class="container">

        <br />
        <br />
        @*<ul class="nav nav-tabs" style="font-size:  20px; ">
                <li class="active"><a data-toggle="tab" href="#tabs-2"></a></li>



            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tabs-2">*@
        <div class="row row-sm">
            @*<div class="col-md-12" style="height: 30px"></div>
            <div class="col-sm-6 col-xl-3">
                <div class="bg-teal rounded overflow-hidden">
                    <a href="@Url.Action("MyDutyList", "Driver")" class="custom-card">
                        <div class="pd-25 d-flex align-items-center">

                            <i class="ion ion-earth tx-60 lh-0 tx-white op-7"></i>
                            <div class="mg-l-20">
                                <p class="tx-10 tx-spacing-1 tx-mont tx-medium tx-uppercase tx-white-8 mg-b-10">Upcoming Duty List</p>
                                <p class="tx-24 tx-white tx-lato tx-bold mg-b-2 lh-1">Total : @countAssign</p>
                                <span class="tx-11 tx-roboto tx-white-6">New Comments: @Html.Raw(ViewBag.MyAssignRequisitionComments)</span>

                            </div>
                        </div>
                    </a>
                </div>
            </div><!-- col-3 -->
           
            
            <div class="col-sm-6 col-xl-3 mg-t-20 mg-xl-t-0">
                <div class="bg-br-primary rounded overflow-hidden">
                    <a href="@Url.Action("MyCompletedDuties", "Driver")" class="custom-card">
                        <div class="pd-25 d-flex align-items-center">
                            <i class="ion ion-clock tx-60 lh-0 tx-white op-7"></i>
                            <div class="mg-l-20">
                                <p class="tx-10 tx-spacing-1 tx-mont tx-medium tx-uppercase tx-white-8 mg-b-10">Completed Requisition</p>
                                <p class="tx-24 tx-white tx-lato tx-bold mg-b-2 lh-1">Total : @countComplete</p>
                                <span class="tx-11 tx-roboto tx-white-6" style="color: transparent">Comments </span>
                            </div>
                        </div>
                    </a>
                </div>
            </div><!-- col-3 -->*@
        </div>
    </div>
    @*</div>
        </div>*@

}
@if (User.IsInRole(AppEnum.RoleEnum.Controller.ToString()))
            { <div class="container">

        <br />
        <br />


        <ul class="nav nav-tabs" style="font-size:  20px; ">
            <li class="active"><a data-toggle="tab" href="#tabs-2">Admin Panel</a></li>
            <li><a data-toggle="tab" href="#tabs-1">Personal Panel</a></li>


        </ul>
        <div class="tab-content tab-content-alt" >
            <div class="tab-pane active" id="tabs-2">
                <div class="row d-md-table-row" >
                    <div class="col-md-12" style="height: 30px"></div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-admin-1 rounded overflow-hidden">
                            <a href="@Url.Action("New", "Manager")" class="custom-card">
                                <div class="pd-25 d-flex align-items-center">

                                    <i class="ion ion-earth tx-60 lh-0 tx-white op-7"></i>
                                    <div class="mg-l-20">
                                        <p class="tx-10 tx-spacing-1 tx-mont tx-medium tx-uppercase tx-white-8 mg-b-10">New Requisition List</p>
                                        <p class="tx-24 tx-white tx-lato tx-bold mg-b-2 lh-1">Total : @newRequest</p>
                                        <span class="tx-11 tx-roboto tx-white-6">New Comments: @Html.Raw(ViewBag.NewRequisitionComments)</span>

                                    </div>
                                </div>
                            </a>
                        </div>
                    </div><!-- col-3 -->
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-admin-2 rounded overflow-hidden">
                            <a href="@Url.Action("HoldIndex", "Manager")" class="custom-card">
                                <div class="pd-25 d-flex align-items-center">
                                    <i class="ion ion-bag tx-60 lh-0 tx-white op-7"></i>
                                    <div class="mg-l-20">
                                        <p class="tx-10 tx-spacing-1 tx-mont tx-medium tx-uppercase tx-white-8 mg-b-10">Hold Requisition List</p>
                                        <p class="tx-24 tx-white tx-lato tx-bold mg-b-2 lh-1">Total : @holdRequest </p>
                                        <span class="tx-11 tx-roboto tx-white-6">New Comments: @Html.Raw(ViewBag.HoldRequisitionComments)</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div><!-- col-3 -->
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-admin-3 rounded overflow-hidden" >
                            <a href="@Url.Action("FullAssignList", "Manager")" class="custom-card">
                                <div class="pd-25 d-flex align-items-center">
                                    <i class="ion ion-monitor tx-60 lh-0 tx-white op-7"></i>
                                    <div class="mg-l-20">
                                        <p class="tx-10 tx-spacing-1 tx-mont tx-medium tx-uppercase tx-white-8 mg-b-10">Assigned Requisition</p>
                                        <p class="tx-24 tx-white tx-lato tx-bold mg-b-2 lh-1">Total : @assignRequest </p>
                                        <span class="tx-11 tx-roboto tx-white-6">New Comments: @Html.Raw(ViewBag.AssignRequisitionComments)</span>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div><!-- col-3 -->
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-admin-4 rounded overflow-hidden">
                            <a href="@Url.Action("CompleteRequsition", "Manager")" class="custom-card">
                                <div class="pd-25 d-flex align-items-center">
                                    <i class="ion ion-clock tx-60 lh-0 tx-white op-7"></i>
                                    <div class="mg-l-20">
                                        <p class="tx-10 tx-spacing-1 tx-mont tx-medium tx-uppercase tx-white-8 mg-b-10">Completed Requisition</p>
                                        <p class="tx-24 tx-white tx-lato tx-bold mg-b-2 lh-1">Total : @completeRequest</p>
                                        <span class="tx-11 tx-roboto tx-white-6" style="color: transparent">Comments  </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div><!-- col-3 -->
                    
                </div>
            </div>

            <div class="tab-pane" id="tabs-1">
                <div class="row d-md-table-row">
                    <div class="col-md-12" style="height: 30px"></div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-teal rounded overflow-hidden">
                            <a href="@Url.Action("NewList", "Home")" class="custom-card">
                                <div class="pd-25 d-flex align-items-center">

                                    <i class="ion ion-earth tx-60 lh-0 tx-white op-7"></i>
                                    <div class="mg-l-20">
                                        <p class="tx-10 tx-spacing-1 tx-mont tx-medium tx-uppercase tx-white-8 mg-b-10">My New Requisition List</p>
                                        <p class="tx-24 tx-white tx-lato tx-bold mg-b-2 lh-1">Total : @countNew</p>
                                        <span class="tx-11 tx-roboto tx-white-6">New Comments: @Html.Raw(ViewBag.MyNewRequisitionComments)</span>

                                    </div>
                                </div>
                            </a>
                        </div>
                    </div><!-- col-3 -->
                    <div class="col-sm-6 col-xl-3 mg-t-20 mg-sm-t-0">
                        <div class="bg-danger rounded overflow-hidden">
                            <a href="@Url.Action("HoldList", "Home")" class="custom-card">
                                <div class="pd-25 d-flex align-items-center">
                                    <i class="ion ion-bag tx-60 lh-0 tx-white op-7"></i>
                                    <div class="mg-l-20">
                                        <p class="tx-10 tx-spacing-1 tx-mont tx-medium tx-uppercase tx-white-8 mg-b-10">My Hold Requisition List</p>
                                        <p class="tx-24 tx-white tx-lato tx-bold mg-b-2 lh-1">Total : @hold </p>
                                        <span class="tx-11 tx-roboto tx-white-6">New Comments: @Html.Raw(ViewBag.MyHoldRequisitionComments)</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div><!-- col-3 -->
                    <div class="col-sm-6 col-xl-3 mg-t-20 mg-xl-t-0">
                        <div class="bg-primary rounded overflow-hidden">
                            <a href="@Url.Action("AssignedList", "Home")" class="custom-card">
                                <div class="pd-25 d-flex align-items-center">
                                    <i class="ion ion-monitor tx-60 lh-0 tx-white op-7"></i>
                                    <div class="mg-l-20">
                                        <p class="tx-10 tx-spacing-1 tx-mont tx-medium tx-uppercase tx-white-8 mg-b-10">My Assigned Requisition List</p>
                                        <p class="tx-24 tx-white tx-lato tx-bold mg-b-2 lh-1">Total : @countAssign </p>
                                        <span class="tx-11 tx-roboto tx-white-6">New Comments: @Html.Raw(ViewBag.MyAssignRequisitionComments)</span>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div><!-- col-3 -->
                    <div class="col-sm-6 col-xl-3 mg-t-20 mg-xl-t-0">
                        <div class="bg-br-primary rounded overflow-hidden">
                            <a href="@Url.Action("CompleteRequsition", "Home")" class="custom-card">
                                <div class="pd-25 d-flex align-items-center">
                                    <i class="ion ion-clock tx-60 lh-0 tx-white op-7"></i>
                                    <div class="mg-l-20">
                                        <p class="tx-10 tx-spacing-1 tx-mont tx-medium tx-uppercase tx-white-8 mg-b-10">My Completed Requisition List</p>
                                        <p class="tx-24 tx-white tx-lato tx-bold mg-b-2 lh-1">Total : @countComplete</p>
                                        <span class="tx-11 tx-roboto tx-white-6"style="color: transparent">Comments </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div><!-- col-3 -->
                </div>
            </div>

            <div class="col-md-12" style="height: 30px"></div>
        </div>
        @*</div>*@
        <div class="col-md-12" style="height: 30px"></div>
    </div>
}
@section scripts{
    @*<script src="~/js/bootstrap.min.js"></script>*@
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@
    @*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>*@
    <script type="text/javascript">
        //$('#tabs-menu-box a').click(function (e) {
        //    //$('#tabs-menu-box').removeClass('active');
        //    debugger;
        //    e.preventDefault();
        //    $(this).tab('show');
        //    $(this).addClass('active');
        //});

      
    </script>
}
