@using VehicleManagementApp.BLL
@using VehicleManagementApp.BLL.Contracts
@model IEnumerable<VehicleManagementApp.ViewModels.RequsitionViewModel>

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int sl = 1;
}
<h3 style="text-align: center">Hold Requisitions</h3>
<br />
<br />
@if (TempData["msg"] != null)
            {
    <div class="alert alert-warning">
        @TempData["msg"]
    </div>
}
<table class="table table-bordered table-striped" id="myTable">
    <thead>
        <tr>
            <th>@Html.Raw("SL")</th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
            <th>
                @Html.DisplayName("From")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.To)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequsitionNumber)
            </th>
            <th>New Comments</th>
         
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@(sl++)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Form)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.To)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequsitionNumber)
                </td>
                <td>
                    @{
                        //ViewBag.UserEmployeeId;
                        ICommentManager commentManager = new CommentManager();
                        var newComments = commentManager.Get(c => c.RequsitionId == item.Id).Count(c => c.ReceiverEmployeeId == ViewBag.UserEmployeeId && c.IsReceiverSeen == false);

                    }
                    <span>
                        <img src="~/img/f8-01-512.png" alt="new comments" style="height: 10%; ">
                        <span class="notification">@Html.Raw(newComments)</span>
                    </span>

                    @Html.ActionLink("Details", "Details_V2", "Requsition", new { id = item.Id }, new { @class = "btn btn-info btn-sm" })
                </td>
               
            </tr>
        }
    </tbody>
</table>
