@model IEnumerable<VehicleManagementApp.ViewModels.RequsitionViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
   
    int sl = 1;

}

<div class="row">
    <div class="col-md-6">
        @Html.ActionLink("New Requsition", "Create", new { id = "" }, new { @class = "btn btn-default btn-lg" })
    </div>
</div>

<a href="#" class="btn btn-info" onclick="myFunction()">New Requisition</a> <br />
<div id="someDiv">
</div>
<br/>
<br />

<table class="table table-bordered table-striped" id="myTable">
    <thead>
        <tr>
            <td>
                @Html.Raw("SL")
            </td>
            <th>
                @Html.DisplayNameFor(model => model.Form)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.To)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JourneyStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JouneyEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @(sl++)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Form)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.To)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JourneyStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JouneyEnd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.Name)
                </td>
                <td style="color: green; font-weight: bold">
                    @if (item.Status != null)
                    {
                        @Html.DisplayFor(modelItem => item.Status)
                    }
                    else
                    {
                        @Html.Raw("Pending")
                    }

                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" })
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-info btn-sm" })
                    @Html.ActionLink("Cancle", "Delete", new { id = item.Id, }, new { @class = "btn btn-danger btn-sm", onclick = "return confirm('Are You Sure? You Want To Cancle!')" })
                </td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">

    $(document).ready(function () {
        $("#EmployeeId").hide();
        $("#RequestForOther").change(function () {

            if ($("#RequestForOther").is(":checked")) {
                $("#EmployeeId").show();
                $("#EmployeeId").addClass(required = true);
            } else {
                $("#EmployeeId").addClass(required = false);
                $("#EmployeeId").hide();

            }
        });

    });
    $(document).ready(function () {
        $(".datetimepicker").datetimepicker();

    });
    
    
</script>