@model VehicleManagementApp.ViewModels.DistrictViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}
<div class="container" style="background-color: whitesmoke;">
    <div class="row">
        <div class="col-md-12">
            <h1 style="text-align: center;">Create District Page</h1>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.DivisionId, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.DivisionId, new SelectList(Model.Divisions, "Id", "Name"), "Select Division", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.DivisionId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create District" class="btn btn-primary" style="float: right;"/>
                        </div>
                    </div>
                </div>
            }

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>

</div>