@model IEnumerable<VehicleManagementApp.ViewModels.VehicleViewModel>

@{
    ViewBag.Title = "DriverList";
    Layout = "~/Views/Shared/_Requsition.cshtml";
    int sl = 1;
}

@if (ViewBag.TotalVehicle != null)
{
    <h3> Total Vehicle : (@ViewBag.TotalVehicle)</h3>
}
<div>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#driver" data-toggle="tab">Vehicle List</a></li>
        <li><a href="#busy" data-toggle="tab">Busy</a></li>
        <li><a href="#free" data-toggle="tab">Free</a></li>
    </ul>
    <br />
    <div class="tab-content">
        <div class="tab-pane active" id="driver">
            <table class="table table-bordered table-striped" id="myTable">
                <thead>
                    <tr>
                        <th>
                            @Html.Raw("SL")
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.VehicleName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.VCapacity)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.VehicleTypeId)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @(sl++)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.VehicleName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.VCapacity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.VehicleType.TypeName)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="busy">
            bb
        </div>
        <div class="tab-pane" id="free">
            ff
        </div>
    </div>
</div>

<br />

