@using Microsoft.AspNet.Identity
@using VehicleManagementApp.BLL
@using VehicleManagementApp.BLL.Contracts
@model IEnumerable<VehicleManagementApp.ViewModels.CommentViewModel>

<style>
    #hide {
        margin-left: 80px;
        border: none;
        background: none;
        cursor: pointer;
        font-size: 17px;
    }
</style>

@if (Model.Any())
{
    <div class="row">
        <div class="col-md-12">
            @foreach (var item in Model)
                {
                <div class="row">

                    <div class="col-md-12" style="background-color:rgba(183, 193, 227, 0.25); border-radius: 10px;">

                        @{
                            IEmployeeManager employee = new EmployeeManager();
                            // var userEmployeeId = employee.Get(c => c.UserId == User.Identity.GetUserId()).Select(c => c.Id).FirstOrDefault();
                            var commentor = employee.Get(c => c.Id == item.SenderEmployeeId).FirstOrDefault();
                        }

                        @if (item.ReceiverEmployeeId == ViewBag.UserEmployeeId && item.SenderEmployeeId != ViewBag.UserEmployeeId)
                        {
                            <h6>
                                @if (commentor != null)
                                {
                                    @Html.Raw("Comments by: " + "<b>" +commentor.Name+ "</b>")
                                    @Html.Raw(" ( Designation :" + commentor.Designation.Name + " )")

                                }
                                <span style="float: right">Time: @item.CommentTime.ToString("dd - MMM - yyyy hh:mm tt")</span>
                            </h6>

                            <div class="alert alert-info" style="color: black">
                                @Html.Raw(item.Comments)
                            </div>
                            
                            if (!item.IsReceiverSeen)
                            {
                                @*@Html.ActionLink("Seen", "CommentSeen", new { id = item.Id }, new { @class = "link" })*@
                            }
                            else
                            {
                                <h6> Seen at: @item.ReceiverSeenTime.ToString("dd - MMM - yyyy hh:mm tt")</h6>
                            }

                        }

                        @if (item.SenderEmployeeId == ViewBag.UserEmployeeId && item.ReceiverEmployeeId != ViewBag.UserEmployeeId)
                        {

                            <h6>
                                @*@if (commentor != null)
                                    {
                                        @Html.Raw(commentor.Name)
                                        @Html.Raw(" Designation: " + commentor.Designation.Name)

                                    }*@
                                @Html.Raw("Comments by: me.")
                                <span style="float: right">Time: @item.CommentTime.ToString("dd - MMM - yyyy hh:mm tt")</span>
                            </h6>

                            <div class="alert alert-info">
                                @Html.Raw(item.Comments)
                            </div>
                            <h6>Comments To:<b> @item.ReceiverEmployee.Name</b> <span> As : @item.ReceiverEmployee.UserRole</span></h6>
                            if (item.IsReceiverSeen)
                            {

                                <h6> Seen at: @item.ReceiverSeenTime.ToString("dd - MMM - yyyy hh:mm tt")</h6>
                            }
                            else
                            {
                               
                                <h6>Not seen yet.</h6>
                            }

                        }
                        @if (item.SenderEmployeeId == ViewBag.UserEmployeeId && item.ReceiverEmployeeId == ViewBag.UserEmployeeId)
                        {

                            <h6>
                               @Html.Raw("Comments by: me.")
                                <span style="float: right">Time: @item.CommentTime.ToString("dd - MMM - yyyy hh:mm tt")</span>
                            </h6>

                                <div class="alert alert-info">
                                    @Html.Raw(item.Comments)
                                </div>
                           }
                    </div>
                    <div class="col-md-12" style="height: 20px"></div>
                </div>
                            }
        </div>
    </div>
                            }


<script src="~/scripts/jquery-2.2.4.min.js"></script>
<script>
    $(document).ready(function () {

        $("#hide").click(function () {
            $("#in").show();
        });
    })
</script>