@model VehicleManagementApp.ViewModels.AssignedListViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3 style="text-align: center">Assigned Requisition Details</h3>

<br/>
<br/>
<div class="row ">
    <table class="table table-hover">
        <tr class="card">
            <th>Employee Info</th>
            <td>
                Name: @Html.DisplayFor(model => model.Requisition.Employee.Name)
                <br/>
                Department: @Html.DisplayFor(model => model.Requisition.Employee.Department.Name)
                <br/>
                Designation: @Html.DisplayFor(model => model.Requisition.Employee.Designation.Name)
                <br/>
                Contact No.: @Html.DisplayFor(model => model.Requisition.Employee.ContactNo)
            </td>
        </tr>
    </table>

    <table class="table table-hover">
        <tr class="card">
            <th>Requsition Info</th>
            <td>
                Type: @Html.DisplayFor(model => model.Requisition.RequestType)
                <br/>
                From: @Html.DisplayFor(model => model.Requisition.Form)
                <br/>
                To: @Html.DisplayFor(model => model.Requisition.To)
                <br/>
                @{
                    //"+" at "+"
                    var startdate = Model.Requisition.JourneyStart.ToString("dd - MMM - yyyy hh:mm tt");
                    var enddate = Model.Requisition.JouneyEnd.ToString("dd - MMM - yyyy  hh:mm tt");
                }
                Journey Start: @Html.Raw(startdate)

                <br/>
                Journey End: @Html.Raw(enddate)
            </td>
        </tr>
    </table>

    <table class="table  table-hover">
        <tr class="card">
            <th>Driver Info</th>
            <td>
                Name: @Html.DisplayFor(model => model.Driver.Name)
                <br/>
                Contact No.: @Html.DisplayFor(model => model.Driver.ContactNo)
            </td>
        </tr>
        <tr class="row" style="height: 20px"></tr>
        <tr class="card">
            <th>Vehicle :</th>
            <td>@Html.DisplayFor(model => model.Vehicle.Name)</td>
        </tr>
    </table>
</div>

@*<p>
    @Html.ActionLink("Back to List", "AssignedList")
</p>*@
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>
                @if (User.IsInRole(AppEnum.RoleEnum.Employee.ToString()))
                {
                    @Html.ActionLink("Back to List", "MyRequisitionList","Requsition", new { id = "", }, new { @class = "btn btn-default" })
                }
                

            </p>
        </div>
    </div>
</div>