@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin
@using VehicleManagementApp.BLL
@using VehicleManagementApp.BLL.Contracts
@using VehicleManagementApp.Models
@model VehicleManagementApp.ViewModels.AssignedListViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //IDriverStatusManager driverStatusManager = new DriverStatusManager();
    //IVehicleStatusManager vehicleStatusManager = new VehicleStatusManager();
    IEmployeeManager employee = new EmployeeManager();
   
    //IVehicleManager vehicleManager = new VehicleManager();
    ApplicationUser user =
              System.Web.HttpContext.Current.GetOwinContext()
                  .GetUserManager<ApplicationUserManager>()
                  .FindById(System.Web.HttpContext.Current.User.Identity.GetUserId());


    var userEmployee = employee.Get(e => e.UserId == user.Id).FirstOrDefault();
    
}


<h3 style="text-align: center">Requisition Details</h3>
<br />
<br />
@if (TempData["msg"] != null)
            {
    <div class="alert alert-warning">
        @TempData["msg"]
    </div>
}
<div class="container">
    <div class="row ">
        <table class="table table-hover">
            <tr class="card">
                <th>Employee Info</th>
                <td>
                    Name: @Html.DisplayFor(model => model.Requisition.Employee.Name)
                    <br />
                    Department: @Html.DisplayFor(model => model.Requisition.Employee.Department.Name)
                    <br />
                    Designation: @Html.DisplayFor(model => model.Requisition.Employee.Designation.Name)
                    <br />
                    Contact No.: @Html.DisplayFor(model => model.Requisition.Employee.ContactNo)
                </td>
            </tr>
        </table>

        <table class="table table-hover">
            <tr class="card">
                <th>Requsition Info</th>
                <td>
                    Type: @Html.DisplayFor(model => model.Requisition.RequestType)
                    <br />
                    From: @Html.DisplayFor(model => model.Requisition.Form)
                    <br />
                    To: @Html.DisplayFor(model => model.Requisition.To)
                    <br />
                    @{

                        var startdate = Model.Requisition.JourneyStart.ToString("dd - MMM - yyyy hh:mm tt");
                        var enddate = Model.Requisition.JouneyEnd.ToString("dd - MMM - yyyy  hh:mm tt");
                    }
                    Journey Start: @Html.Raw(startdate)

                    <br />
                    Journey End: @Html.Raw(enddate)
                    <br />
                    Requested By:
                   
                    @if (Model.Requisition.EmployeeId == userEmployee.Id)
                    {
                        @Html.Raw("Me")
                    }
                    else
                    {
                        var requestedBy = employee.Get(e => e.Id == Model.Requisition.RequestedBy).FirstOrDefault();
                        @Html.Raw(requestedBy.Name+ " Designation: "+ requestedBy.Designation.Name)
                    }

                </td>
            </tr>
        </table>
        @if (Model.Requisition.Status == "Assign" || Model.Requisition.Status == "Complete")
        {
            <table class="table table-hover">
                <tr class="card">
                    <th>Assigned Driver Info</th>
                    <td>
                        Driver Name: @Html.DisplayFor(model => model.Driver.Name)
                        <br />
                        Phone No: @Html.DisplayFor(model => model.Driver.ContactNo)
                    </td>
                </tr>
            </table>

            <table class="table table-hover">
                <tr class="card">
                    <th>Assigned Vehicle Info</th>
                    <td>
                        Brand : @Html.DisplayFor(model => model.Vehicle.VehicleName)
                        <br />
                        Registration No.: @Html.DisplayFor(model => model.Vehicle.VRegistrationNo)
                        <br />
                        Detailed Name: @Html.DisplayFor(model => model.Vehicle.Name)
                    </td>
                </tr>
            </table>
        }
        @*@if (Model.Requisition.Status == "Complete")
        {
            <table class="table table-hover">
                <tr class="card">
                    <th>Assigned Driver Info</th>
                    <td>
                        Driver Name: @Html.DisplayFor(model => model.Driver.Name)
                        <br />
                        Phone No: @Html.DisplayFor(model => model.Driver.ContactNo)
                    </td>
                </tr>
            </table>
            <table class="table table-hover">
                <tr class="card">
                    <th>Assigned Vehicle Info</th>
                    <td>
                        Brand : @Html.DisplayFor(model => model.Vehicle.VehicleName)
                        <br />
                        Registration No.: @Html.DisplayFor(model => model.Vehicle.VRegistrationNo)
                        <br />
                        Detailed Name: @Html.DisplayFor(model => model.Vehicle.Name)
                    </td>
                </tr>
            </table>
        }*@

    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>
                @if (User.IsInRole(AppEnum.RoleEnum.Employee.ToString()))
                {
                    if (Model.Requisition.Status != "Complete" || Model.Requisition.Status != "Assign")
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = Model.Requisition.Id }, new { @class = "btn btn-primary", onclick = "return confirm('Are You Sure? You Want To Cancel!')" })
                        <span style="width: 20px;"></span>
                        @Html.ActionLink("Cancel", "Delete", new { id = Model.Requisition.Id }, new { @class = "btn btn-danger", onclick = "return confirm('Are You Sure? You Want To Cancel!')" })
                        <span style="width: 20px;"></span>
                        @Html.ActionLink("Print", "Print", "Requsition", new { id = Model.Requisition.Id }, new { @class = "btn btn-success" })
                    }
                    else
                    {
                        @Html.ActionLink("Print", "Print_V2", "Requsition", new { id = Model.Requisition.Id }, new { @class = "btn btn-success" })
                    }

                }
                @if (User.IsInRole(AppEnum.RoleEnum.Controller.ToString()))
                {
                    if (Model.Requisition.Status != "Complete" && Model.Requisition.Status != "Assign")
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = Model.Requisition.Id }, new { @class = "btn btn-primary", onclick = "return confirm('Are You Sure? You Want To Edit!')" })
                        <span style="width: 30px;"></span>
                        @*@Html.ActionLink("Cancel", "Delete", new { id = Model.Requisition.Id }, new { @class = "btn btn-danger", onclick = "return confirm('Are You Sure? You Want To Cancel!')" })
                            <span style="width: 30px;"></span>*@
                        @Html.ActionLink("Assign", "AdvanceAssign", "Manager", new { id = Model.Requisition.Id }, new { @class = "btn btn-info" })
                        <span style="width: 30px;"></span>
                        @Html.ActionLink("Print", "Print", "Requsition", new { id = Model.Requisition.Id }, new { @class = "btn btn-success" })
                    }
                    if (Model.Requisition.Status == "Assign")
                    {
                        @Html.ActionLink("Reassign", "Reassign_V2", "Manager", new { id = Model.Requisition.Id }, new { @class = "btn btn-info" })
                        <span style="width: 30px;"></span>
                        @Html.ActionLink("Print", "Print_V2", "Manager", new { id = Model.Requisition.Id }, new { @class = "btn btn-success" })
                    }
                    if (Model.Requisition.Status == "Complete")
                    {
                        @Html.ActionLink("Print", "Print_V2", "Manager", new { id = Model.Requisition.Id }, new { @class = "btn btn-success" })
                    }

                }
                <span style="width: 30px;"></span>
                @Html.ActionLink("Dashboard", "Dashboard", "Home", new { id = "" }, new { @class = "btn btn-secondary" })
            </p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <div id="commentListReplace">
                    @Html.Partial("_CommentList", Model.CommentViewModels)
                </div>
                <div>
                    @*@Html.Partial("_ReplayCommentPartial", Model.CommentViewModel)*@
                </div>
                @if (Model.Requisition.Status != "Complete")
                {
                    <div>
                        @Html.Partial("_CommentPartial", Model.CommentViewModel)
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>

        function handeCommentAddedComplete() {

            $("#Comments").val("");
            $('#EmployeeReceiver').attr('checked', false);
            $('#DriverReceiver').attr('checked', false);
        }
    </script>
}

@*@section scripts{
        <script type="text/javascript">

            //event.preventDefault();
            //data.serialize();
            $('#btnComment').click(function (event) {
                var comments = $("#Comments").val();
                var requsitionId = $("#RequsitionId").val();
                var employeeId = $("#EmployeeId").val();
                var employeName = $("#EmployeName").val();

                if (comments != '') {
                    debugger;
                    $.ajax({
                        url: '@(Url.Action("CreateComment"))',
                        data:{comments,requsitionId,employeeId,employeName},

                        type: "POST",
                        success: function (result) {

                            $("#commentListReplace").empty();
                            $("#commentListReplace").html(result);

                        },
                        error: function(result) {

                        }

                    });

                }

            });

        </script>
    }*@