@model VehicleManagementApp.ViewModels.AssignedListViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3 style="text-align: center">Requisition Details</h3>
<br/>
<br/>
@if (TempData["msg"] != null)
            {
    <div class="alert alert-warning">
        @TempData["msg"]
    </div>
}
<div class="container">
    <div class="row ">
        <table class="table table-hover">
            <tr class="card">
                <th>Employee Info</th>
                <td>
                    Name: @Html.DisplayFor(model => model.Requisition.Employee.Name)
                    <br />
                    Department: @Html.DisplayFor(model => model.Requisition.Employee.Department.Name)
                    <br />
                    Designation: @Html.DisplayFor(model => model.Requisition.Employee.Designation.Name)
                    <br />
                    Contact No.: @Html.DisplayFor(model => model.Requisition.Employee.ContactNo)
                </td>
            </tr>
        </table>

        <table class="table table-hover">
            <tr class="card">
                <th>Requsition Info</th>
                <td>
                    Type: @Html.DisplayFor(model => model.Requisition.RequestType)
                    <br />
                    From: @Html.DisplayFor(model => model.Requisition.Form)
                    <br />
                    To: @Html.DisplayFor(model => model.Requisition.To)
                    <br />
                    @{

                    var startdate = Model.Requisition.JourneyStart.ToString("dd - MMM - yyyy hh:mm tt");
                    var enddate = Model.Requisition.JouneyEnd.ToString("dd - MMM - yyyy  hh:mm tt");
                    }
                    Journey Start: @Html.Raw(startdate)

                    <br />
                    Journey End: @Html.Raw(enddate)
                </td>
            </tr>
        </table>

        @*<table class="table  table-hover">
            <tr class="card">
                <th>Vehicle :</th>
                <td>@Html.DisplayFor(model => model.Vehicle.Name)</td>
            </tr>
        </table>*@
    </div>
</div>
@*<p>
    @Html.ActionLink("Back to List", "DriverMyDutyList")
</p>*@
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>
                @if (User.IsInRole(AppEnum.RoleEnum.Employee.ToString()))
                {
                    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })*@
                    @Html.ActionLink("Delete", "Delete", new { id = Model.Requisition.Id }, new { @class = "btn btn-danger", onclick = "return confirm('Are You Sure? You Want To Cancel!')" })
                    @Html.ActionLink("Print", "Print", new { id = Model.Requisition.Id }, new { @class = "btn btn-success" })
                    @Html.ActionLink("Back to List", "MyRequisitionList","Requsition", new { id = "", }, new { @class = "btn btn-default" })
                }
                else
                {

                    if (Model.Requisition.Status != "Complete" && Model.Requisition.Status != "Assign")
                    {
                        @Html.ActionLink("Assign", "AdvanceAssign", "Manager", new { id = Model.Requisition.Id }, new { @class = "btn btn-info" })
                        @Html.ActionLink("Print", "Print", "Manager", new { id = Model.Requisition.Id }, new { @class = "btn btn-success" })
                    }

                    else
                    {
                        @Html.ActionLink("Print", "Print_V2", "Manager", new { id = Model.Requisition.Id }, new { @class = "btn btn-success" })
                    }

                    @Html.ActionLink("Back to List", "Index","Manager", new { id = "", }, new { @class = "btn btn-default" })
                }

            </p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <div id="commentListReplace">
                    @Html.Partial("_CommentList", Model.CommentViewModels)
                </div>
                <div>
                    @*@Html.Partial("_ReplayCommentPartial", Model.CommentViewModel)*@
                </div>
                <div>
                    @Html.Partial("_CommentPartial", Model.CommentViewModel)
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        
        function handeCommentAddedComplete() {
           
            $("#Comments").val("");
        }
    </script>
}

@*@section scripts{
    <script type="text/javascript">

        //event.preventDefault();
        //data.serialize();
        $('#btnComment').click(function (event) {
            var comments = $("#Comments").val();
            var requsitionId = $("#RequsitionId").val();
            var employeeId = $("#EmployeeId").val();
            var employeName = $("#EmployeName").val();
            
            if (comments != '') {
                debugger;
                $.ajax({
                    url: '@(Url.Action("CreateComment"))',
                    data:{comments,requsitionId,employeeId,employeName},
                  
                    type: "POST",
                    success: function (result) {

                        $("#commentListReplace").empty();
                        $("#commentListReplace").html(result);
                        
                    },
                    error: function(result) {

                    }

                });

            }

        });

    </script>
}*@