@model IEnumerable<VehicleManagementApp.Models.Models.Division>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int sl = 1;
}
<div class="container" style="background-color: whitesmoke; border-corner-shape: bevel; border-top-left-radius: 20px; border-top-right-radius: 20px;">
    <div class="row">
        <div class="col-md-12">
            <h1 style="text-align: center;">Division View Page</h1>
            @if (TempData["msg"] != null)
            {
                <div class="alert alert-info">
                    @TempData["msg"]
                </div>
            }

            <p style="font-style: italic; font-size: 20px; font-family: arial-bold; flood-color: red;">
                @Html.ActionLink("Create Division", "Create")
            </p>
            <table class="table table-bordered table-striped" id="myTable">
                <thead>
                    <tr>
                        <th>@Html.Raw("Sl")</th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @(sl++)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td style="width: 20%;">
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" })
                                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-info btn-sm" })
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id, }, new { @class = "btn btn-danger btn-sm", onclick = "return confirm('Are You Sure? You Want To Delete!')" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>